[2022-02-25 19:22] isthatyourfaceoryouassicanttell opened #1 "plz do coins javascript: hack"

[2022-02-25 19:23] isthatyourfaceoryouassicanttell opened #2 "never mind your good im stupid"
i should look before i do that

[2022-02-25 19:23] isthatyourfaceoryouassicanttell opened #3 "its working well thank you so much i appreciate the work you have done"

[2022-02-25 19:23] Hankypoo7 commented on #2
nah its alr

[2022-02-25 19:24] Hankypoo7 commented on #3
yeah man np

[2022-02-25 19:28] Hankypoo7 commented on #3
wait just a question tho where did you find my page just wondering

[2022-02-25 19:37] isthatyourfaceoryouassicanttell opened #4 "Chat"
can you work on a ixl hack to get all questions correct

[2022-02-25 19:38] Hankypoo7 commented on #4
yeah, it might take a while tho, I bet I can get it done by tonight.

[2022-02-25 19:42] isthatyourfaceoryouassicanttell commented on #4
thank you so much you are the best freaking guy in the world   ttttttyyyyyyyyyyyy thank you !!!!!!!!!!!!!!!!!!!!!💪

[2022-02-25 19:44] isthatyourfaceoryouassicanttell commented on #4
hey also if you could teach me a little bit or show me a video to watch to do these things i could help you with this stuff and be your back up during school hours some times even at home might be able to help but if you could show me i vid or teach me it i will help you:)

[2022-02-25 19:44] isthatyourfaceoryouassicanttell commented on #4
i have to go next class bye

[2022-02-25 19:46] Hankypoo7 commented on #4
bye alr sure

[2022-02-25 19:48] Hankypoo7 commented on #4
yeah bro np

[2022-02-25 20:13] isthatyourfaceoryouassicanttell commented on #4
np ?.. sorry im still learning all of the key words
sorry gtg langauge arts bye bye

[2022-02-25 20:20] isthatyourfaceoryouassicanttell commented on #4
no problem o got it hey after school i have about 45 m to work

[2022-02-25 20:21] isthatyourfaceoryouassicanttell commented on #4
hey email me here evanchristensenkunz@gmail.com for more info plz :)

[2022-02-25 20:36] Hankypoo7 commented on #4
ok. btw np means no problem

[2022-02-25 21:26] isthatyourfaceoryouassicanttell commented on #4
hey whats up can you email my gmail i am out of school so i have some time

[2022-02-25 21:29] isthatyourfaceoryouassicanttell commented on #4
ha i forgot my own email lol i guess i do have 5 but here email echristensenkunz@gmail.com

[2022-02-25 21:31] isthatyourfaceoryouassicanttell commented on #4
hey wate  that is one of my email you can email both i saw you were emailing me

[2022-02-25 21:33] isthatyourfaceoryouassicanttell commented on #3
i found it on glizzes last scrip thing and is took me to schoolcheats.net
witch is blocked lol but it was advertised in the comments

On Fri, Feb 25, 2022 at 1:28 PM Hankypoo7 ***@***.***> wrote:

[2022-02-25 21:36] isthatyourfaceoryouassicanttell commented on #4
hey do you have a gmail

[2022-02-25 21:43] isthatyourfaceoryouassicanttell commented on #4
you here?..

[2022-02-25 22:03] isthatyourfaceoryouassicanttell commented on #4
bye i have piano lessons i will be back monday maybe sometime this weekend bye

[2022-02-25 22:07] Hankypoo7 commented on #4
ok sorry i had baseball practice

[2022-02-25 22:07] Hankypoo7 commented on #4
yeah just email back thats my email address

[2022-02-25 23:04] isthatyourfaceoryouassicanttell commented on #4
hey you on

On Fri, Feb 25, 2022 at 4:07 PM Hankypoo7 ***@***.***> wrote:

[2022-02-25 23:04] isthatyourfaceoryouassicanttell commented on #4
what in the middle of winter

[2022-02-25 23:05] isthatyourfaceoryouassicanttell commented on #4
could you teach me how to hack

On Fri, Feb 25, 2022 at 5:04 PM Evan Christensen-kunz <
***@***.***> wrote:

[2022-02-25 23:06] isthatyourfaceoryouassicanttell commented on #4
or show me a video off the internet

On Fri, Feb 25, 2022 at 5:05 PM Evan Christensen-kunz <
***@***.***> wrote:

[2022-02-25 23:17] isthatyourfaceoryouassicanttell commented on #4
i will have to go soon and go home im at my piano lessons but my sister is
playing right now so i will read every thing you have to say later but if
teach me how to hack i will help you and i will fix anything that goes down
gtg:)

On Fri, Feb 25, 2022 at 5:05 PM Evan Christensen-kunz <
***@***.***> wrote:

[2022-02-25 23:26] Hankypoo7 commented on #4
ok

[2022-02-25 23:29] Hankypoo7 commented on #4
I just found the files online lol
Im tryna make new hacks tho by noticing what commands do what and extending their periods to create longer encrypted code.

[2022-02-25 23:30] Hankypoo7 opened #5 "Fixed bug"

[2022-02-25 23:30] #5 closed

[2022-02-25 23:34] isthatyourfaceoryouassicanttell commented on #4
where do you find them  so i can help gtg bye

[2022-02-26 00:19] #1 closed

[2022-02-26 00:19] #2 closed

[2022-02-26 00:21] Hankypoo7 commented on #4
These are the modified versions to be easier and more accessible,
the original links are here https://github.com/Hankypoo7/blooket-hack-RESTORED

[2022-02-26 03:54] Hankypoo7 commented on #3
ok thanks

[2022-02-26 04:12] #3 closed

[2022-02-26 04:25] Hankypoo7 opened #6 "I need help with pasting the code"

[2022-02-26 13:36] isthatyourfaceoryouassicanttell commented on #4
hi

[2022-02-26 14:22] Hankypoo7 commented on #4
Hi

[2022-02-27 03:03] isthatyourfaceoryouassicanttell commented on #4
hey you on

[2022-02-27 03:15] isthatyourfaceoryouassicanttell commented on #4
just send a message for things you need help with and then when i read them i will look for some and if i find one i will post it here

[2022-02-27 03:46] Hankypoo7 commented on #6
wdym ixl

[2022-02-27 03:47] Hankypoo7 commented on #4
ok

[2022-02-27 03:49] Hankypoo7 commented on #4
Imma give you perms I hope I can trust you, but make different files for the remaining game modes that we still need like factory, gold, and racing.

[2022-02-27 03:53] Hankypoo7 commented on #4
ok i sent the invite

[2022-02-27 15:14] bigguystevieb1 opened #7 "IMPORTANT"
@Hankypoo7. This will get very serious if you don't delete your "max xp and tokens" and "spam open boxes" hacks because i did Ctrl + F and copied my hacks onto ur script and those 2 hacks were mine. If you don't delete, I will make this a very serious issue.

[2022-02-27 15:16] bigguystevieb1 commented on #7
@Hankypoo7

[2022-02-27 23:52] Hankypoo7 commented on #7
ok

[2022-02-27 23:52] #7 closed

[2022-02-28 02:53] isthatyourfaceoryouassicanttell commented on #4
k remeber  im am a noobie a apprentice and yes you can trust me i will give you a big piece of trust i dont tell many people its so then you trust me im 12

[2022-02-28 02:55] isthatyourfaceoryouassicanttell commented on #4
you on

[2022-02-28 03:27] isthatyourfaceoryouassicanttell commented on #4
hey so i added one and now it says i have to use this template to create a new repository.:(

[2022-02-28 03:28] isthatyourfaceoryouassicanttell commented on #4
i can work this monday and this week two :)

[2022-02-28 03:33] isthatyourfaceoryouassicanttell commented on #4
got it working :))))))))))))))))))))))))):):):):):):):)::):):):):))::):)::):):):):):):):):)

[2022-02-28 03:50] isthatyourfaceoryouassicanttell commented on #4
hey i put them in for you

[2022-02-28 03:51] isthatyourfaceoryouassicanttell commented on #6
o yea ixl every day if i get 5 80 and higher i get a pack of gum the teacher has watermelon the best one

[2022-02-28 03:54] isthatyourfaceoryouassicanttell commented on #6
and you don't need more people to run the page if we start getting behind i have a friend who gets OUT OF SCHOOL IN THE MIDDLE OF THE DAY i don't know how he does it he makes some excuse and calls his mom who picks him up and then he is free all day so he can help to if we start falling behind also is there anything else you need done just let me know

[2022-02-28 14:22] Hankypoo7 commented on #6
dang, ok thanks

[2022-02-28 14:22] colbymcdaniel commented on #6
what  happened with the coins and exp

[2022-02-28 14:23] Hankypoo7 commented on #4
ty im 12 as well so i gotchu

[2022-02-28 14:33] Hankypoo7 commented on #6
sorry its back now, we needed a quick fix

[2022-02-28 15:01] isthatyourfaceoryouassicanttell commented on #4
o ha your 12 to nice wow :)

[2022-02-28 15:03] isthatyourfaceoryouassicanttell commented on #4
colbymcdaniel i can tell you whats wrong go to the top of your blooket page and type javascript: then past the code and hit enter then refresh the page and you will have max coins and xp for the day. :):):)::):)

[2022-02-28 15:05] bigguystevieb1 opened #8 "."
I'm getting legal consequences put against you if you don't delete them.

[2022-02-28 15:06] bigguystevieb1 commented on #8
@Hankypoo7

[2022-02-28 15:11] Hankypoo7 commented on #8
i got the scripts from schoolcheats

[2022-02-28 15:12] Hankypoo7 commented on #8
dude fine whatever but can I atleast give you credit and use them

[2022-02-28 15:14] Hankypoo7 commented on #6
this guy biggiesteve is threatening me becuase I "Used his hacks" so the get tokens and xp is down and as well as the sell dupe blooks

[2022-02-28 15:23] isthatyourfaceoryouassicanttell commented on #6
where at

[2022-02-28 15:23] isthatyourfaceoryouassicanttell commented on #6
o thats not true

[2022-02-28 15:24] isthatyourfaceoryouassicanttell commented on #6
i know where we get those hacks from and thats not it

[2022-02-28 15:25] isthatyourfaceoryouassicanttell commented on #8
yea and also we didn't copy wright we have permission i know all  of these people that i get these from there my friends hanky doesn't know them all but i do

[2022-02-28 15:40] isthatyourfaceoryouassicanttell commented on #4
hey how is the ixl hack going

[2022-02-28 16:35] bigguystevieb1 commented on #8
No take them down, I gave you a chance but u didn't use it so ur done.

[2022-02-28 16:58] bigguystevieb1 commented on #8
@Hankypoo7

[2022-02-28 18:25] isthatyourfaceoryouassicanttell commented on #8
no what are you going to do

[2022-02-28 18:28] pazza223 commented on #8
@bigguystevieb1 did you make the hacks or know how made them? your text/comments looks like you are not legit. if you do not have proof or you do not own the hacks, leave. if it is bad the creators will get in to this.

[2022-02-28 18:31] isthatyourfaceoryouassicanttell commented on #8
hey i know the creator were best friends ok and im not sharing information with you guys you guys are blood thirsty freaks who just want trol and get rich and were just trying to be nice and help people out by giving them free javascripts from my friend group so shut up now im done here yes unless your  nice and except the fact that were helping you and giving you free things

[2022-02-28 18:31] isthatyourfaceoryouassicanttell commented on #8
im done here

[2022-02-28 18:31] isthatyourfaceoryouassicanttell commented on #8
pizza your good

[2022-02-28 18:32] isthatyourfaceoryouassicanttell commented on #8
steve did not do anything he is a copywriter and is just trying to get famous and trol people and take things from people

[2022-02-28 18:33] isthatyourfaceoryouassicanttell commented on #8
pazza your are good to go every thing for for steve

[2022-02-28 18:33] isthatyourfaceoryouassicanttell commented on #8
steve is a fake little leach feeding off the big guys

[2022-02-28 18:34] isthatyourfaceoryouassicanttell commented on #8
pazza you have email

[2022-02-28 18:34] isthatyourfaceoryouassicanttell commented on #8
heres mine evanchristensenkunz@gmail.com

[2022-02-28 18:34] pazza223 commented on #8
ya, but can not chat throgh it right now

[2022-02-28 18:35] pazza223 commented on #8
idk why, just google being google and wanting like 20000 step varifacation

[2022-02-28 18:45] Hankypoo7 commented on #4
i gotchu

[2022-02-28 18:45] Hankypoo7 commented on #4
wdym ixl hack

[2022-02-28 18:46] isthatyourfaceoryouassicanttell commented on #8
lol

[2022-02-28 18:47] isthatyourfaceoryouassicanttell commented on #4
so i can get free gum yum

[2022-02-28 18:47] isthatyourfaceoryouassicanttell commented on #4
every 5 courses I complete i get a pack of gum 1 a day

[2022-02-28 18:48] colbymcdaniel commented on #4
What's up with gum?

[2022-02-28 18:48] isthatyourfaceoryouassicanttell commented on #4
o and i think i got rid of steve and pazza is a good guy :) me pro :) pro :) 👍

[2022-02-28 18:48] isthatyourfaceoryouassicanttell commented on #4
i get gum from my teacher

[2022-02-28 18:49] colbymcdaniel commented on #4
oh ok thanks for telling me

[2022-02-28 18:57] Hankypoo7 commented on #6
ye their back up thanks bro

[2022-02-28 18:59] colbymcdaniel commented on #6
he better not be threatening you bro you don't know who i am tho

[2022-02-28 18:59] colbymcdaniel commented on #6
ignore the second part

[2022-02-28 19:00] Hankypoo7 commented on #4
lucky but like what does ixl stand for
what hack should I make?

[2022-02-28 19:00] colbymcdaniel commented on #6
thanks for the exp fix btw

[2022-02-28 19:04] colbymcdaniel commented on #4
can you give me a link to the ixl hack

[2022-02-28 19:04] Hankypoo7 commented on #6
yeah

[2022-02-28 19:05] Hankypoo7 commented on #6
are you isthatyourfaceoryouassicanttells friend?

[2022-02-28 19:05] colbymcdaniel commented on #6
no I just like what yall are doing

[2022-02-28 19:07] Hankypoo7 commented on #4
What i gtg ill be back at like 4 but what hack do you want me to make

[2022-02-28 19:08] colbymcdaniel commented on #4
i just want the ixl one

[2022-02-28 19:16] colbymcdaniel commented on #4
witch ixl hacks are there

[2022-02-28 19:31] bigguystevieb1 commented on #8
@isthatyourfaceoryouassicanttell dude stfu

[2022-02-28 19:36] Blooket-dude commented on #8
dude is that a threat? if he wants his code removed you should remove it! Dont argue or I will take legal actions!

[2022-02-28 19:41] Blooket-dude commented on #8
@bigguystevieb1 I got you! Tell me if they are starting something again! I will try my best to help!

[2022-02-28 19:42] Blooket-dude commented on #8
@bigguystevieb1 what scripts are yours.

[2022-02-28 19:46] colbymcdaniel commented on #8
how are they in breach of copyrights

[2022-02-28 19:50] Blooket-dude commented on #8
@colbymcdaniel what u mean

[2022-02-28 19:52] colbymcdaniel commented on #8
yall had a hole argument about being in breach of copyright so I was asking were yall did

[2022-02-28 19:53] Blooket-dude commented on #8
@colbymcdaniel  i didnt do anyhting Im trying to help my friend because someone is using his code without putting credits which is illegal becuase of copyright

[2022-02-28 19:58] colbymcdaniel commented on #8
@Blooket-dude o i was just wondering what yall were talking about

[2022-02-28 19:58] Blooket-dude commented on #8
its all good

[2022-02-28 19:59] colbymcdaniel commented on #8
@Blooket-dude ok thanks

[2022-02-28 19:59] Blooket-dude commented on #8
no problem

[2022-02-28 20:20] Hankypoo7 commented on #6
ok

[2022-02-28 20:25] pazza223 commented on #8
to me, the repo is empty. idk how to get the hacks. how do i get them?

[2022-02-28 20:27] colbymcdaniel commented on #8
to tell you the truth I don't know ether

[2022-02-28 20:36] Blooket-dude commented on #8
@colbymcdaniel @pazza223 go to my repo and get them.

[2022-02-28 20:36] pazza223 commented on #8
??? dose this mean that you made them

[2022-02-28 20:37] Blooket-dude commented on #6
@colbymcdaniel @isthatyourfaceoryouassicanttell @Hankypoo7 dont talk about people behind their backs!

[2022-02-28 20:38] Blooket-dude commented on #8
made what?

[2022-02-28 20:38] pazza223 commented on #8
the hacks
in the repo

[2022-02-28 20:38] Blooket-dude commented on #8
in my repo?

[2022-02-28 20:38] pazza223 commented on #8
yes

[2022-02-28 20:39] pazza223 commented on #8
the blooket hacks gui is made by basil...

[2022-02-28 20:40] Blooket-dude commented on #8
Yeah I made some of them but if you read the README.md it will say that some of the blooket hack are from diffrent people so i put credits in. Some of the hacks I made from scratch. the blooket hack h=gui thing is made by someone called basil he makes diffrent types of hacks

[2022-02-28 20:41] pazza223 commented on #8
oh, cool, i give star

[2022-02-28 20:41] Hankypoo7 commented on #8
Wich code did I copy from the biggie steve guy

[2022-02-28 20:42] colbymcdaniel commented on #8
i don't know

[2022-02-28 20:43] Blooket-dude commented on #8
@Hankypoo7  I dont know because he didnt tell me. but if you wanna keep coming at me I can make a report that your using someones code without their permission or at least give credits

[2022-02-28 20:43] Blooket-dude commented on #8
@pazza223 you starred my repo?

[2022-02-28 20:44] pazza223 commented on #8
@Blooket-dude yes

[2022-02-28 20:44] colbymcdaniel commented on #8
who are you going to report

[2022-02-28 20:44] Blooket-dude commented on #8
@pazza223  thank you so much!

[2022-02-28 20:45] Blooket-dude commented on #8
@colbymcdaniel  I will report @Hankypoo7.

[2022-02-28 20:45] Hankypoo7 commented on #8
blooket dude i didnt steal anything

[2022-02-28 20:45] pazza223 commented on #8
i star basicly all blooket hack repos i find good

[2022-02-28 20:46] Blooket-dude commented on #8
@pazza223 ok

[2022-02-28 20:46] Blooket-dude commented on #8
@Hankypoo7  I was told that you did steal something.

[2022-02-28 20:46] Hankypoo7 commented on #8
he just wants me to take my hacks down so that people will go to his page instead of mine

[2022-02-28 20:46] colbymcdaniel commented on #8
@Blooket-dude  ok i just wanted to make sure you weren't talking about me

[2022-02-28 20:46] Blooket-dude commented on #8
@colbymcdaniel no your good!

[2022-02-28 20:47] colbymcdaniel commented on #8
thanks (=

[2022-02-28 20:47] Hankypoo7 commented on #8
Blooket dude ask him what i stole

[2022-02-28 20:47] Hankypoo7 commented on #8
ask him

[2022-02-28 20:48] Hankypoo7 commented on #8
for the tokens?

[2022-02-28 20:48] Blooket-dude commented on #8
@Hankypoo7 if you did using something of his i dont really care. But if you did and you didnt give credits thats messed up. I will belive you this time but if i get another report of someone saying you stole something without giving credits im going to have to report you. You are fine for now but I will look farther into this and if i find out your lying well its not gonna be fun. im not thrating

[2022-02-28 20:48] colbymcdaniel commented on #8
@Hankypoo7  what tokens

[2022-02-28 20:48] Hankypoo7 commented on #8
Look further into it

[2022-02-28 20:49] Hankypoo7 commented on #8
please

[2022-02-28 20:49] Blooket-dude commented on #8
@Hankypoo7  if you need a make an issue on my repo and ask me if you can use the hacks i will most likely say yes as long as i get credits. I will def look further into it.

[2022-02-28 20:49] colbymcdaniel commented on #8
@Hankypoo7  are you hiding something

[2022-02-28 20:49] Hankypoo7 commented on #8
token hack

[2022-02-28 20:49] Blooket-dude commented on #8
@colbymcdaniel  he isnt

[2022-02-28 20:49] Hankypoo7 commented on #8
what could I be hiding

[2022-02-28 20:50] Blooket-dude commented on #8
@Hankypoo7 You know what im not going to look further into it.

[2022-02-28 20:50] colbymcdaniel commented on #8
@Blooket-dude  ok

[2022-02-28 20:50] Hankypoo7 commented on #8
why

[2022-02-28 20:50] Hankypoo7 commented on #8
Just asking

[2022-02-28 20:50] Blooket-dude commented on #8
i know your not lying becuase when I asked you to give credits you gave me credits without any problems

[2022-02-28 20:50] colbymcdaniel commented on #8
yah way

[2022-02-28 20:50] Hankypoo7 commented on #8
ok

[2022-02-28 20:51] colbymcdaniel commented on #8
oooooooooooooooooh

[2022-02-28 20:52] Blooket-dude commented on #8
@Hankypoo7 so your fine. sorry for the troubles but I will deal with @bigguystevieb1 and talk to him about this

[2022-02-28 20:52] colbymcdaniel commented on #8
never mind

[2022-02-28 20:52] Hankypoo7 commented on #8
ok thanks

[2022-02-28 20:52] colbymcdaniel commented on #8
@Hankypoo7 can i help

[2022-02-28 20:53] Blooket-dude commented on #8
@Hankypoo7 no problem! Also can you make me a contributer on your repo I would love to help make your stuff more organized and add more hacks when I make more, if thats fine with you?

[2022-02-28 20:53] Hankypoo7 commented on #8
sure, but please dont make anything bad, I'm trusting you guys

[2022-02-28 20:53] Blooket-dude commented on #8
I wont you can trust me!

[2022-02-28 20:54] colbymcdaniel commented on #8
thanks and i wont

[2022-02-28 20:54] colbymcdaniel commented on #8
just tell me what to do and ill figure it out

[2022-02-28 20:55] Hankypoo7 commented on #8
ok

[2022-02-28 20:57] Hankypoo7 commented on #8
i gtg ill be back on at 4 or before

[2022-02-28 20:57] Blooket-dude commented on #8
ok

[2022-02-28 20:58] Blooket-dude commented on #8
I have to go

[2022-02-28 20:58] colbymcdaniel commented on #8
ok

[2022-02-28 21:39] #6 closed

[2022-02-28 21:39] #4 closed

[2022-02-28 21:52] Hankypoo7 opened #9 "Chat here"
yeah

[2022-02-28 22:03] isthatyourfaceoryouassicanttell commented on #9
hey hows the ixl going

[2022-02-28 22:08] Hankypoo7 commented on #9
im sorry
I dont understand what a ixl is can you explain it to me

[2022-02-28 23:10] Blooket-dude commented on #4
what is an ixl hack?

[2022-03-01 00:13] Hankypoo7 opened #10 "ANNOUNCMENT : WORKING ON IXL HACK. HACK WILL CHANGE YOUR SCORE TO 100"
I might need help, if anyone knows how to do it

[2022-03-01 00:53] colbymcdaniel commented on #8
im back

[2022-03-01 00:55] colbymcdaniel commented on #9
its basically Kahoot but without the fun

[2022-03-01 00:56] colbymcdaniel commented on #9
@Hankypoo7 its basically Kahoot but without the fun

[2022-03-01 02:03] Hankypoo7 commented on #9
ok

[2022-03-01 02:27] #10 closed

[2022-03-01 03:07] isthatyourfaceoryouassicanttell commented on #9
its a learning platform

[2022-03-01 04:10] Hankypoo7 commented on #9
got it

[2022-03-01 12:36] Blooket-dude commented on #8
ight

[2022-03-01 14:09] Hankypoo7 commented on #8
talk on the other chat

[2022-03-01 14:09] #8 closed

[2022-03-01 15:09] isthatyourfaceoryouassicanttell commented on #9
hey can you try to fix box spam since i don't know how to fix them

[2022-03-01 16:45] Blooket-dude commented on #9
@Hankypoo7 get the script from me if you want

[2022-03-01 16:45] Blooket-dude commented on #9
give credits tho

[2022-03-01 17:03] Hankypoo7 commented on #9
ok

[2022-03-01 19:44] Blooket-dude commented on #9
@Hankypoo7 why cant I add files?

[2022-03-01 19:44] Blooket-dude commented on #9
I need to add more files to make it better

[2022-03-01 19:50] colbymcdaniel commented on #9
What's up?

[2022-03-01 19:52] colbymcdaniel commented on #9
@Blooket-dude what's up?

[2022-03-01 19:59] Blooket-dude commented on #9
@colbymcdaniel sup

[2022-03-01 20:01] colbymcdaniel commented on #9
@Blooket-dude  what were yall talking about

[2022-03-01 20:04] Blooket-dude commented on #9
nothing I just could edit anything but i fixed it.

[2022-03-01 20:12] colbymcdaniel commented on #9
ok

[2022-03-01 20:30] colbymcdaniel commented on #9
@Blooket-dude just tell me if you need any help I will try and figure it out

[2022-03-01 20:45] Blooket-dude commented on #9
@colbymcdaniel  ok thanks!

-Blooket-dude

[2022-03-01 20:52] colbymcdaniel commented on #9
no problem

[2022-03-01 21:10] bigguystevieb1 commented on #9
@Blooket-dude look at ur repository

[2022-03-01 21:15] Hankypoo7 commented on #9
wait u cant edit my thing?

[2022-03-01 21:26] Blooket-dude commented on #9
@Hankypoo7 i fixed it! Also go to the new issue on my repo this dude is saying he will use my hacks after i said not to.

[2022-03-01 21:36] Hankypoo7 commented on #9
ok

[2022-03-01 21:38] Hankypoo7 commented on #9
Blooket dude I cant chat on your thing

[2022-03-01 21:38] Hankypoo7 commented on #9
can you make it where I can talk so I can Back you up

[2022-03-01 21:41] Blooket-dude commented on #9
what do you mean you cant chat?

[2022-03-01 21:41] Blooket-dude commented on #9
what does it say?

[2022-03-01 21:42] Hankypoo7 commented on #9
it says "You can't perform this action at this time."

[2022-03-01 21:42] Blooket-dude commented on #9
give me a sec

[2022-03-01 21:43] Blooket-dude commented on #9
I invited you as a collaborator accept the invite. maybe that will let you chat?

[2022-03-01 21:44] Blooket-dude commented on #9
@Hankypoo7

[2022-03-01 21:45] Hankypoo7 commented on #9
ok

[2022-03-01 21:46] Blooket-dude commented on #9
did you accept it?

[2022-03-01 21:47] Blooket-dude commented on #9
I @ you in the chat where we are

[2022-03-01 21:47] Hankypoo7 commented on #9
yeah i see

[2022-03-01 21:48] Blooket-dude commented on #9
ok

[2022-03-02 00:19] colbymcdaniel commented on #9
what yall talking about?

[2022-03-02 00:22] Snowflake-Blooket-dude commented on #9
what do you mean?

-Snowflake

[2022-03-02 01:52] colbymcdaniel commented on #9
ok

[2022-03-02 02:19] Hankypoo7 commented on #9
This guy stole her hacks so we went to stop him

[2022-03-02 02:24] Hankypoo7 commented on #9
you

[2022-03-02 02:25] colbymcdaniel commented on #9
whats up then

[2022-03-02 02:26] Hankypoo7 commented on #9
but hi

[2022-03-02 02:28] Snowflake-Coder-H2o commented on #9
@Hankypoo7  I can help code hacks if you ever need help

[2022-03-02 02:28] Hankypoo7 commented on #9
ok thank you

[2022-03-02 02:29] colbymcdaniel commented on #9
Mabey if you can in infinite cion  glitch for global blooket

[2022-03-02 02:30] colbymcdaniel commented on #9
thanks yeah i will help you with any thing i can figure out

[2022-03-02 02:31] Snowflake-Coder-H2o commented on #9
@colbymcdaniel I could code that, but it wouldn't work becuase due to getting tokens being server side it will only say you have a certain amount but you really dont have that amount.

-Snow

[2022-03-02 02:33] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  oh ok how about some ixl hacks I've heard that there are some

[2022-03-02 02:35] Snowflake-Coder-H2o commented on #9
what is an ixl hack? @colbymcdaniel?

-Snow

[2022-03-02 02:37] colbymcdaniel commented on #9
@Snowflake-Coder-H2o I don't know I heard Hankypoo7 and @blooket-dude were talking about it so I was  seeing if you know

[2022-03-02 02:38] Snowflake-Coder-H2o commented on #9
I just changed my name.

-Snow

[2022-03-02 02:40] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  really you have to account I just say you and hankypoo7 talking but then hankypoo7 said something about ixl hack so I was wanting to know

[2022-03-02 02:41] Snowflake-Coder-H2o commented on #9
@colbymcdaniel Oh ok.Yeah well I have no Idea what an ixl hack is.

-Snow

[2022-03-02 02:42] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  it's ok I was just wandering about what it is.

[2022-03-02 02:48] Snowflake-Coder-H2o commented on #9
Thanks!

-SnowFlakeΨ

[2022-03-02 02:52] isthatyourfaceoryouassicanttell commented on #9
hey whats up

[2022-03-02 02:54] isthatyourfaceoryouassicanttell commented on #9
o hey guys the ixl hack basically i want a hack that gets me all my questions right ixl is a learning program and just search it up and do your course just see it it will make alot of sense then

[2022-03-02 12:21] Snowflake-Coder-H2o commented on #9
@colbymcdaniel @isthatyourfaceoryouassicanttell I dont know if it is possible to code. It might be. I will make a code and test it give me a couple of hours!

--SnowFlakeΨ

[2022-03-02 12:33] colbymcdaniel commented on #9
@Snowflake-Coder-H2o ok thanks for trying it

[2022-03-02 13:36] Snowflake-Coder-H2o commented on #9
No problem!

-Snowflake

[2022-03-02 14:20] Hankypoo7 commented on #9
oh yeah thank you

[2022-03-02 14:20] Hankypoo7 commented on #9
im at school now lol

[2022-03-02 14:28] Hankypoo7 commented on #9
yeah that's impossible because it is encrypted into blooket's database, instead of the users.

[2022-03-02 15:05] Hankypoo7 commented on #9
bet yeah that would be cool

[2022-03-02 15:44] colbymcdaniel commented on #9
do yall have iney ixl hacks though

[2022-03-02 15:47] colbymcdaniel commented on #9
@Snowflake-Coder-H2o @Hankypoo7 do yall have some ixl hacks so you can get all the questions right

[2022-03-02 17:33] Snowflake-Coder-H2o commented on #9
@colbymcdaniel  Im currently working on it.

[2022-03-02 17:44] colbymcdaniel commented on #9
ok

[2022-03-02 17:45] Snowflake-Coder-H2o commented on #9
- im working on them right now

[2022-03-02 17:49] colbymcdaniel commented on #9
@Snowflake-Coder-H2o just tell me when your done (=

[2022-03-02 17:52] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  Do you know what would be cool a Starr test hack?

[2022-03-02 18:00] Snowflake-Coder-H2o commented on #9
@colbymcdaniel what do you mean?

[2022-03-02 18:03] colbymcdaniel commented on #9
the star test it would be cool/illegal if you could hack it

[2022-03-02 18:50] colbymcdaniel commented on #9
how about ix hacks?

[2022-03-02 19:07] isthatyourfaceoryouassicanttell commented on #9
heyyyyyyy

[2022-03-02 19:07] isthatyourfaceoryouassicanttell commented on #9
why did you change the coin hack

[2022-03-02 19:07] isthatyourfaceoryouassicanttell commented on #9
why

[2022-03-02 19:09] isthatyourfaceoryouassicanttell commented on #9
NOW IT DOESN'T WORKKKKKKKKKKKKKKKKKKKK !!!!!!!!!! that is the number one thing on this site and you guys have to break the working one like come on

[2022-03-02 19:10] isthatyourfaceoryouassicanttell commented on #9
now i have to make another one :(((((((((((((((((((((((:(:(:(:(:(:(

[2022-03-02 19:11] isthatyourfaceoryouassicanttell commented on #9
now here i fixed it

[2022-03-02 19:26] colbymcdaniel commented on #9
@isthatyourfaceoryouassicanttell  what did you fix

[2022-03-02 19:26] colbymcdaniel commented on #9
@isthatyourfaceoryouassicanttell can you make me an ixl hack?

[2022-03-02 19:32] colbymcdaniel commented on #9
hello?

[2022-03-02 19:35] Snowflake-Coder-H2o commented on #9
@isthatyourfaceoryouassicanttell what are ou talking about?

-Snow

[2022-03-02 19:36] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  i think he is mad about yall changing the coin thing i don't know

[2022-03-02 19:36] Snowflake-Coder-H2o commented on #9
@colbymcdaniel @isthatyourfaceoryouassicanttell @Hankypoo7 @ollj429 @Hankypoo7 Should I keep my Blooket-Hack  repo public or should I make it private

[2022-03-02 19:37] Snowflake-Coder-H2o commented on #9
@colbymcdaniel what do you mean changing the coin thing?

[2022-03-02 19:38] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  you should make it privet and i don't know he was just talking about a coin thing and how yall changed it

[2022-03-02 19:38] Snowflake-Coder-H2o commented on #9
I made my repo Private becuase of it being too heated in the issues.

-Snow

[2022-03-02 19:39] Snowflake-Coder-H2o commented on #9
it is now Public.

-Snow

[2022-03-02 19:39] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  ok you do you

[2022-03-02 19:40] Snowflake-Coder-H2o commented on #9
Alright! @colbymcdaniel Do you play blooket?

-Snow

[2022-03-02 19:40] colbymcdaniel commented on #9
yes yes i do

[2022-03-02 19:42] colbymcdaniel commented on #9
yes i do @Snowflake-Coder-H2o

[2022-03-02 19:43] Snowflake-Coder-H2o commented on #9
do you need any hacks?

-Snow

[2022-03-02 19:43] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  yeah that would help me out some

[2022-03-02 19:44] Snowflake-Coder-H2o commented on #9
What hacks do you want. I might have some already coded.

-Snow

[2022-03-02 19:45] colbymcdaniel commented on #9
the coin hack and any other one you think is useful

[2022-03-02 19:45] colbymcdaniel commented on #9
@Snowflake-Coder-H2o the coin hack and any other one you think is usefu

[2022-03-02 19:46] Snowflake-Coder-H2o commented on #9
Ok, I will be making a brand new repo and filling it with useful hacks. If you want to you can look through all of the hacks and the ones you want you can take.

[2022-03-02 19:48] colbymcdaniel commented on #9
@Snowflake-Coder-H2o ok, thanks! your one of the nicest person on here

[2022-03-02 19:48] Snowflake-Coder-H2o commented on #9
Thanks that means alot to me!

-Snow

[2022-03-02 19:49] colbymcdaniel commented on #9
no thanks to you @Snowflake-Coder-H2o

[2022-03-02 20:01] Snowflake-Coder-H2o commented on #9
@colbymcdaniel what do you mean by "no thanks to you"?

-Snow

[2022-03-02 20:03] colbymcdaniel commented on #9
i was basically saying that i am more thankful it just a nice gesture

[2022-03-02 20:04] Snowflake-Coder-H2o commented on #9
Oh ok!

-Snow

[2022-03-02 20:45] Hankypoo7 commented on #9
hi I'm back

[2022-03-02 20:45] Hankypoo7 commented on #9
ok ill check it out and star it snowflake

[2022-03-02 20:45] colbymcdaniel commented on #9
same

[2022-03-02 20:46] Snowflake-Coder-H2o commented on #9
@Hankypoo7 Thanks! I also make you a collaberator. Just so you can help people out. Also Hanky make sure to star it and make sure to have the watch parth check to all!

-Snow

[2022-03-02 20:47] colbymcdaniel commented on #9
@Hankypoo7 were is it at again

[2022-03-02 20:47] Hankypoo7 commented on #9
ok i got it

[2022-03-02 20:47] Snowflake-Coder-H2o commented on #9
@Hankypoo7 Thanks! I also make you a collaborator. Just so you can help people out. Also, Hanky make sure to star it and make sure to have the watch part checked to all! Also If people need help and I'm not arround, can you please help them.

-Snow

[2022-03-02 20:48] colbymcdaniel commented on #9
@Snowflake-Coder-H2o were is it so i can star it btw

[2022-03-02 20:49] Hankypoo7 commented on #9
https://github.com/Snowflake-Coder-H2o/Blooket-Hack/issues/1

[2022-03-02 20:49] Hankypoo7 commented on #9
thats the link

[2022-03-02 20:49] Snowflake-Coder-H2o commented on #9
@colbymcdaniel go to my github profile page where it shows all of my repos. then click the newest one

[2022-03-02 20:50] colbymcdaniel commented on #9
ok

[2022-03-02 20:50] Hankypoo7 commented on #9
oops
I meant this one
https://github.com/Snowflake-Coder-H2o/Blooket-Hack

[2022-03-02 20:50] colbymcdaniel commented on #9
did it

[2022-03-02 20:51] Snowflake-Coder-H2o commented on #9
Thank you so much!

-Snow

[2022-03-02 20:51] Snowflake-Coder-H2o commented on #9
@Hankypoo7

[2022-03-02 20:52] colbymcdaniel commented on #9
no problem

[2022-03-02 20:52] Snowflake-Coder-H2o commented on #9
@Hankypoo7

[2022-03-02 20:52] colbymcdaniel commented on #9
i also stared it btw

[2022-03-02 20:53] Snowflake-Coder-H2o commented on #9
Thanks!

-Snow

[2022-03-02 20:53] colbymcdaniel commented on #9
no problem

[2022-03-02 20:53] Snowflake-Coder-H2o commented on #9
@Hankypoo7

[2022-03-02 20:56] Hankypoo7 commented on #9
yeah

[2022-03-02 20:56] Hankypoo7 commented on #9
what up

[2022-03-02 20:56] Snowflake-Coder-H2o commented on #9
Do you have any questions people might want to know about me or about what I code or anything like that?

-Snow

[2022-03-02 20:57] Hankypoo7 commented on #9
uh lemmie think

[2022-03-02 20:57] Snowflake-Coder-H2o commented on #9
Ok!

-Snow

[2022-03-02 20:57] Hankypoo7 commented on #9
how about why you want to code

[2022-03-02 20:58] Snowflake-Coder-H2o commented on #9
Ok Just give me some questions and I'm going to answer them in the new repo

[2022-03-02 20:58] Snowflake-Coder-H2o commented on #9
Just make a list.

-Snow

[2022-03-02 20:58] Hankypoo7 commented on #9
ok

[2022-03-02 21:03] Snowflake-Coder-H2o commented on #9
@Hankypoo7  You making a list?

-Snow

[2022-03-02 21:03] Hankypoo7 commented on #9
yeah

[2022-03-02 21:04] Hankypoo7 commented on #9
gimmie a couple minutes

[2022-03-02 21:04] Snowflake-Coder-H2o commented on #9
Ok.

-Snow

[2022-03-02 21:06] Hankypoo7 commented on #9
what makes you want to code?
what are your plans for the future?
how often will you be updating the codes?
are you looking for people to help you code?
what is the goal you are looking to reach?

[2022-03-02 21:07] Snowflake-Coder-H2o commented on #9
ok i will answer them right now

[2022-03-02 21:07] Hankypoo7 commented on #9
ok

[2022-03-02 21:08] Hankypoo7 commented on #9
btw I fixed the hack menu to make it updated

[2022-03-02 21:08] Snowflake-Coder-H2o commented on #9
I know I seen that thanks.

[2022-03-02 21:10] Hankypoo7 commented on #9
ok

[2022-03-02 21:10] Hankypoo7 commented on #9
i gtg ill be back in like 2 minutes

[2022-03-02 21:11] Snowflake-Coder-H2o commented on #9
ok

[2022-03-02 21:11] colbymcdaniel commented on #9
@Snowflake-Coder-H2o and you might want to add what you are making in the future

[2022-03-02 21:12] Snowflake-Coder-H2o commented on #9
@colbymcdaniel What do you mean?

-Snow

[2022-03-02 21:13] colbymcdaniel commented on #9
like you should add what your project is in the future

[2022-03-02 21:13] Snowflake-Coder-H2o commented on #9
What do ou mean by future project?

-Snow

[2022-03-02 21:14] colbymcdaniel commented on #9
if you have any thing/project you should list it in the repo

[2022-03-02 21:14] Snowflake-Coder-H2o commented on #9
I dont really have any that come to mind

[2022-03-02 21:15] colbymcdaniel commented on #9
i mean when you do or when it comes to mind

[2022-03-02 21:15] Snowflake-Coder-H2o commented on #9
I will! Thanks for the suggestion.

-Snow

[2022-03-02 21:19] colbymcdaniel commented on #9
no problem

[2022-03-02 21:25] Hankypoo7 commented on #9
ok

[2022-03-02 21:26] Hankypoo7 commented on #9
@colbymcdaniel do you know how to hack?

[2022-03-02 21:26] Hankypoo7 commented on #9
to code it I mean

[2022-03-02 21:27] colbymcdaniel commented on #9
I'm taking a course to learn how to why whats up

[2022-03-02 21:30] colbymcdaniel commented on #9
bell at school is about to ring i won't respond for a minute

[2022-03-02 21:31] Snowflake-Coder-H2o commented on #9
@Hankypoo7 Wanna play a blooket?

[2022-03-02 21:47] Snowflake-Coder-H2o commented on #9
@Hankypoo7 @colbymcdaniel Wanna play Blooket?

[2022-03-02 23:15] Hankypoo7 commented on #9
im back sure

[2022-03-02 23:16] Hankypoo7 commented on #9
oh wait i can at like 540 ct or something maybe

[2022-03-02 23:17] Hankypoo7 commented on #9
do you guys have any questions about me?

[2022-03-02 23:21] Snowflake-Coder-H2o commented on #9
@Hankypoo7 wanna do a Blooket?

[2022-03-02 23:28] Hankypoo7 commented on #9
I cant rn but maybe at 540 ct

[2022-03-02 23:28] Hankypoo7 commented on #9
i gotta eat

[2022-03-02 23:29] Snowflake-Coder-H2o commented on #9
ok!

[2022-03-02 23:54] Hankypoo7 commented on #9
im back

[2022-03-02 23:57] Hankypoo7 commented on #9
o wait

[2022-03-02 23:58] Hankypoo7 commented on #9
sorry my family wants to watch a movie before my sister goes to bed

[2022-03-02 23:59] Hankypoo7 commented on #4
idk

[2022-03-03 00:18] Snowflake-Coder-H2o commented on #9
@Hankypoo7 Your good!

-Snow

[2022-03-03 02:25] colbymcdaniel commented on #9
just got back whats new

[2022-03-03 02:26] colbymcdaniel commented on #9
wait nevermind got to go again

[2022-03-03 03:25] isthatyourfaceoryouassicanttell commented on #9
hey guys if someone wants to fix get all questions right that would be nice i can't right now but i might be able to tomorrow.

[2022-03-03 03:34] Snowflake-Coder-H2o commented on #9
@isthatyourfaceoryouassicanttell on my repo or on this one?

[2022-03-03 13:16] Hankypoo7 commented on #9
this one I think

[2022-03-03 13:33] Snowflake-Coder-H2o commented on #9
@Hankypoo7 Its fixed.

[2022-03-03 13:57] bigguystevieb1 commented on #9
Yall are stupid

[2022-03-03 14:01] colbymcdaniel commented on #9
thats mean

[2022-03-03 14:13] Hankypoo7 commented on #9
Thanks for fixing it @Snowflake-Coder-H2o

[2022-03-03 16:25] colbymcdaniel commented on #9
@Hankypoo7 who are you talking to

[2022-03-03 16:34] Snowflake-Coder-H2o commented on #9
@Hankypoo7 I just taught myself

-Snow

[2022-03-03 16:59] Hankypoo7 commented on #9
cool

[2022-03-03 17:51] colbymcdaniel commented on #9
anything new

[2022-03-03 18:01] colbymcdaniel commented on #9
@Hankypoo7 anything new.

[2022-03-03 18:10] colbymcdaniel commented on #9
@isthatyourfaceoryouassicanttell are you still making the ixl hack if your done can i get it

[2022-03-03 19:36] Snowflake-Coder-H2o commented on #9
@colbymcdaniel I tried coding one But i Failed.

[2022-03-03 19:37] colbymcdaniel commented on #9
ok well thanks for trying

[2022-03-03 19:40] Snowflake-Coder-H2o commented on #9
@colbymcdaniel No problem

[2022-03-03 19:53] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  any other thing happening that i should know about

[2022-03-03 20:05] Snowflake-Coder-H2o commented on #9
@colbymcdaniel What?

[2022-03-03 20:09] colbymcdaniel commented on #9
@Snowflake-Coder-H2o i was just asking whats happened while i was gone

[2022-03-03 20:15] colbymcdaniel commented on #9
ok then nevermind

[2022-03-03 20:39] Snowflake-Coder-H2o commented on #9
@colbymcdaniel @isthatyourfaceoryouassicanttell @Hankypoo7 If you need me @ me because im going to be coding hacks!

-Snow

[2022-03-03 20:49] colbymcdaniel commented on #9
ok

[2022-03-03 21:13] Hankypoo7 commented on #9
ok got it

[2022-03-03 21:13] Snowflake-Coder-H2o commented on #9
ok

[2022-03-03 21:14] colbymcdaniel commented on #9
hay @Hankypoo7 what's happened while i was gone

[2022-03-03 21:19] colbymcdaniel commented on #9
@Hankypoo7  i was taking the cba at my school

[2022-03-03 21:20] Snowflake-Coder-H2o commented on #9
@Hankypoo7 @colbymcdaniel

[2022-03-03 21:20] colbymcdaniel commented on #9
@Snowflake-Coder-H2o whats up

[2022-03-03 21:21] Snowflake-Coder-H2o commented on #9
Wanna play a blooket?

[2022-03-03 21:21] colbymcdaniel commented on #9
shure

[2022-03-03 21:21] colbymcdaniel commented on #9
whats the code

[2022-03-03 21:21] Snowflake-Coder-H2o commented on #9
ok the join code is 580655

[2022-03-03 21:22] colbymcdaniel commented on #9
im toast btw

[2022-03-03 21:23] Snowflake-Coder-H2o commented on #9
ok, I'm going to show you all of the blooks I have legit. I have everything except for Halloween and the chromas.

-Snow

[2022-03-03 21:23] Snowflake-Coder-H2o commented on #9
ok?

-Snow

[2022-03-03 21:23] colbymcdaniel commented on #9
ok

[2022-03-03 21:24] Snowflake-Coder-H2o commented on #9
I have every blook in the game except for the ones I said I didn't have.

[2022-03-03 21:24] Snowflake-Coder-H2o commented on #9
Also no hacking.

[2022-03-03 21:25] colbymcdaniel commented on #9
i basically the exact thing with the skins

[2022-03-03 21:25] Snowflake-Coder-H2o commented on #9
So you have every blook that you can currently get?

[2022-03-03 21:26] Snowflake-Coder-H2o commented on #9
you playing the game?

[2022-03-03 21:26] colbymcdaniel commented on #9
yes and yes

[2022-03-03 21:26] Snowflake-Coder-H2o commented on #9
ok

[2022-03-03 21:27] Snowflake-Coder-H2o commented on #9
your score isnt going up thats why im asking

[2022-03-03 21:27] colbymcdaniel commented on #9
fair

[2022-03-03 21:28] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  i'm going to have to go my bell is about to ring you win

[2022-03-03 21:29] Snowflake-Coder-H2o commented on #9
Ok !

-Snow

[2022-03-03 21:39] Hankypoo7 commented on #9
i gtg ill be on tonight

[2022-03-03 21:42] Snowflake-Coder-H2o commented on #9
ok

[2022-03-04 02:28] colbymcdaniel commented on #9
whats up im back

[2022-03-04 14:48] colbymcdaniel commented on #9
@Snowflake-Coder-H2o did you use hacks last night when we were playing booket

[2022-03-04 17:32] Snowflake-Coder-H2o commented on #9
No. Why?

-Snow

[2022-03-04 18:01] colbymcdaniel commented on #9
just wondering.

[2022-03-04 18:03] Snowflake-Coder-H2o commented on #9
Oh ok.

-Snow

[2022-03-04 20:45] colbymcdaniel commented on #9
umm anything new I should know about

[2022-03-04 20:46] colbymcdaniel commented on #9
@Snowflake-Coder-H2o umm anything new I should know about

[2022-03-04 21:01] Snowflake-Coder-H2o commented on #9
@colbymcdaniel Not that I know of!

-Snow

[2022-03-04 21:05] colbymcdaniel commented on #9
@Snowflake-Coder-H2o  well you wanna play blooket

[2022-03-04 21:05] Snowflake-Coder-H2o commented on #9
@colbymcdaniel  in a couple minutes

[2022-03-04 21:06] Snowflake-Coder-H2o commented on #9
i have to fix one of the codes

[2022-03-04 21:19] Snowflake-Coder-H2o commented on #9
@colbymcdaniel i fixed the code wanna pla?

[2022-03-04 21:29] colbymcdaniel commented on #9
cant play it 3:30 i will play at 4:10

[2022-03-04 21:32] Snowflake-Coder-H2o commented on #9
ok

[2022-03-05 14:21] boiiii83 opened #11 "hack menu outdated pls fix"

[2022-03-05 18:37] Hankypoo7 commented on #11
ok i got you

[2022-03-05 18:39] Hankypoo7 commented on #11
ill fix it in a sec

[2022-03-05 18:41] Snowflake-Coder-H2o commented on #11
@Hankypoo7 The site is blocked for me so i cant fix it. sorry.

-Snow

[2022-03-05 18:42] Hankypoo7 commented on #11
its blocked for me too imma fix it on a home computer in like an hour

[2022-03-05 18:42] Snowflake-Coder-H2o commented on #11
ok

[2022-03-07 14:08] colbymcdaniel commented on #9
@Snowflake-Coder-H2o what's new?

[2022-03-07 14:44] Hankypoo7 commented on #9
not much

[2022-03-07 14:59] isthatyourfaceoryouassicanttell commented on #9
which one is out to date which one is not working???????????

[2022-03-07 15:07] colbymcdaniel commented on #9
@isthatyourfaceoryouassicanttell I do not know

[2022-03-07 15:55] Snowflake-Coder-H2o commented on #9
@isthatyourfaceoryouassicanttell I don't know. But my hacks are probably outdated. So your might be. But like I said I have no clue. I'm in the process of fixing them now.  @Hankypoo7 Want me to fix your hacks when I fix mine?

-Snow

[2022-03-07 16:13] colbymcdaniel commented on #9
@Snowflake-Coder-H2o @isthatyourfaceoryouassicanttell @Hankypoo7 the set coins on the tower of doom isn't working btw I looked into it but couldn't figure it out sorry

[2022-03-07 16:15] colbymcdaniel commented on #9
actually I don't believe any of the dower of doom hacks are working

[2022-03-07 18:39] Hankypoo7 commented on #9
ok ill try to fix them
and yes pls snowflake thanks

[2022-03-07 18:42] Snowflake-Coder-H2o commented on #9
@Hankypoo7 Ok I will try to fix them!

-Snow

[2022-03-07 21:55] Hankypoo7 commented on #9
thanks

[2022-03-08 13:13] colbymcdaniel commented on #9
@Hankypoo7 how do you make something private from public on here

[2022-03-08 15:39] colbymcdaniel commented on #9
@Hankypoo7  how do you make something private from public on here and there is someone claiming to be the first blooket
hacks

[2022-03-08 16:30] colbymcdaniel commented on #9
and btw some of the crazy kingdom hacks aren't working.

[2022-03-08 16:37] Hankypoo7 commented on #9
ok

[2022-03-08 16:45] Hankypoo7 commented on #9
wich ones are broken?

[2022-03-08 17:31] colbymcdaniel commented on #9
the ones are skip guest and skip tax and he goes by gbasil.dev/blooket

[2022-03-08 18:14] colbymcdaniel commented on #9
@Hankypoo7 the ones are skip guest and skip tax and he goes by gbasil.dev/blooket

[2022-03-08 18:15] Hankypoo7 commented on #9
ok

[2022-03-08 18:15] Hankypoo7 commented on #9
thanks

[2022-03-08 18:16] colbymcdaniel commented on #9
no problem

[2022-03-09 02:13] Hankypoo7 commented on #9
ill try to fix them within the next day

[2022-03-09 14:37] Kxinghello opened #12 "Copyright violation"
You have 1 day to take down or delete or remove the hack from this repository before I let Zastix know to file a DMCA violation.

[2022-03-09 15:05] colbymcdaniel commented on #9
@Hankypoo7 don't use the hacks one of my friends tested them out he got banned

[2022-03-09 15:38] ZasticBradyn commented on #12
You dont need to take the repository down, just please credit me. (sorry abt kxing, he hates it when ppl use are code)

[2022-03-09 16:30] Hankypoo7 opened #13 "Skip tax and skip guest"
I am currently working on a fix, will be done soon

[2022-03-09 16:33] Hankypoo7 commented on #9
ok

[2022-03-09 16:33] Hankypoo7 commented on #9
wich one

[2022-03-09 17:43] colbymcdaniel commented on #9
@Hankypoo7  the one that claims to be the first blooket hack i got banned for trying it

[2022-03-09 18:01] Hankypoo7 commented on #9
ok

[2022-03-09 18:02] Hankypoo7 commented on #9
im really sorry for you getting banned, if there is anything I can do let me know

[2022-03-09 18:03] Hankypoo7 commented on #9
I deleted the hack menu, wich is the one I think

[2022-03-09 18:03] Hankypoo7 commented on #9
ok

[2022-03-09 18:03] Hankypoo7 commented on #9
I also put up a warning in the read.me

[2022-03-09 18:04] Hankypoo7 commented on #9
thanks tho, and would you want to help run this page with me and @Snowflake-Coder-H2o and @isthatyourfaceoryouassicanttell ?

[2022-03-09 18:04] Hankypoo7 commented on #9
igtg but ill send u an invite

[2022-03-09 18:05] Hankypoo7 commented on #9
I invited you

[2022-03-09 18:05] Hankypoo7 commented on #9
I took it down

[2022-03-09 18:06] Hankypoo7 commented on #9
i gtg tho ill be back in a bit

[2022-03-09 18:06] colbymcdaniel commented on #9
it was the person whom said they made the first hacks not your hacks

[2022-03-09 18:07] Hankypoo7 commented on #9
oh

[2022-03-09 18:07] Hankypoo7 commented on #9
wait so my hacks are ok?

[2022-03-09 18:07] Hankypoo7 commented on #9
or do they get you banned

[2022-03-09 18:08] colbymcdaniel commented on #9
your hacks are ok but the one I told you about arent the gbasil.dev/blooket

[2022-03-09 18:09] Hankypoo7 commented on #9
oh ok thanks

[2022-03-09 18:09] colbymcdaniel commented on #9
yeah, no problem.

[2022-03-09 18:09] Hankypoo7 commented on #9
Ill also put a warning for that website too

[2022-03-09 18:10] colbymcdaniel commented on #9
ok

[2022-03-09 18:10] Hankypoo7 commented on #9
do you want to collab I innvited you to this resporitory

[2022-03-09 18:11] colbymcdaniel commented on #9
I just started on here a month ago were is this repository

[2022-03-09 18:13] Hankypoo7 commented on #9
same but uh i gtg ill msg you in a bit

[2022-03-09 18:14] colbymcdaniel commented on #9
ok and what dose gtg mean

[2022-03-09 18:34] Hankypoo7 commented on #9
I got to go

[2022-03-09 18:35] colbymcdaniel commented on #9
oh ok never mind you can go

[2022-03-09 20:18] Hankypoo7 commented on #9
this is a resporitory. I invited you so try to accept it

[2022-03-09 20:19] Hankypoo7 commented on #12
uh ok

[2022-03-09 20:20] Hankypoo7 commented on #12
I gave credit

[2022-03-09 20:20] #12 closed

[2022-03-09 20:34] colbymcdaniel commented on #9
how do i accept it

[2022-03-09 21:07] Hankypoo7 commented on #9
uh lemmie see

[2022-03-09 21:08] Hankypoo7 commented on #9
To accept the invitation:
Navigate to the Connection tab.
Click Accept invitation.
Paste the invitation code. Paste the invitation code that you received from your partner.
Click Next.
Select the repository where you want to sync issues.
Click Confirm.

[2022-03-09 21:09] Hankypoo7 commented on #9
thats what google said

[2022-03-09 21:09] Hankypoo7 commented on #9
it'll let you edit stuff on this project

[2022-03-09 21:13] colbymcdaniel commented on #9
cant talk but thank you I will figure it out later thanks though

[2022-03-09 21:40] Hankypoo7 commented on #9
ok

[2022-03-09 23:36] ZasticBradyn commented on #12
thanks.

[2022-03-10 00:30] ZasticBradyn commented on #13
ya fixed it yet?

[2022-03-10 01:39] Hankypoo7 commented on #13
not quite, Im coding it rn

[2022-03-10 02:15] #13 closed

[2022-03-10 02:16] #9 closed

[2022-03-10 02:16] Hankypoo7 opened #14 "Go to disscussions tab to talk from now on instead of in the issues tab, thanks"
Go to disscussions tab to talk from now on instead of in the issues tab, thanks

[2022-03-10 14:08] colbymcdaniel commented on #9
I can't find the connection tab

[2022-03-11 04:02] Hankypoo7 commented on #11
fixed

[2022-03-11 04:02] #11 closed

[2022-03-11 14:49] boiiii83 commented on #14
what is the box spam is it just spam open boxes

[2022-03-11 15:00] Hankypoo7 commented on #14
yeah pretty much, i deleted box spam to avoid confusion

[2022-03-11 18:45] #14 closed

[2022-03-12 20:31] Belook12 opened #17 "things to look at."
GO AWAY @belook12

[2022-03-12 20:37] Snowflake-Coder-H2o commented on #17
@Hankypoo7 delete this repo right now! All of  this code is Gliz's code also remove me as a contribuator.

-Snow

[2022-03-14 19:05] Snowflake-Coder-H2o commented on #17
@Belook12 Should I delete all of this?

-Snow

[2022-03-14 22:05] kgsensei commented on #17
Stop, It's not funny. These are empty threats and you're starting something that won't end well.

[2022-03-15 12:36] kgsensei commented on #17
@Belook12 and now you too ig.

[2022-03-15 12:38] kgsensei commented on #17
It's literally github. Everything is open source. It's gonna be hard to threaten that someone took someone else's code. It happens to everyone. Just learn to deal with it.

[2022-03-15 12:41] Snowflake-Coder-H2o commented on #17
@kgsensei Wait this isnt glz code?

[2022-03-15 12:42] Snowflake-Coder-H2o commented on #17
@kgsensei Becuase I deleted a whole entire repo.

[2022-03-15 12:51] kgsensei commented on #17
@Snowflake-Coder-H2o It might be gliz's code but there is no way to prove it definitively. There is no point in arguing about if code was stolen or not. Some of my code gets stolen like every day.

[2022-03-15 12:51] Snowflake-Coder-H2o commented on #17
@Butchr666 ??

[2022-03-15 12:51] Snowflake-Coder-H2o commented on #17
@Hankypoo7 Dont delete anything.

[2022-03-15 21:12] Belook12 commented on #17
this is his code, he can prove it.

[2022-03-15 21:56] kgsensei commented on #17
Awesome, doesn't matter.

[2022-03-19 20:16] Hankypoo7 commented on #17
hi guys im back from vacation lol sorry i wasnt here

[2022-03-21 14:45] colbymcdaniel commented on #17
hello guys

[2022-03-21 15:00] Snowflake-Coder-H2o commented on #17
@Hankypoo7 Dont worry about whats been happening

[2022-03-21 15:02] Snowflake-Coder-H2o commented on #17
@Hankypoo7 I had to delete my repo. So I will be copying some of your hacks until I code my own again.

-Snow

[2022-03-21 17:43] colbymcdaniel commented on #17
@Snowflake-Coder-H2o what have yall been doing lately I had no internet.

[2022-03-21 18:43] Snowflake-Coder-H2o commented on #17
@colbymcdaniel i dont really know. I have been dealing with legal matters. I guess somehow I stole gliz's code. Even though I coded all of that myself and with @zasticbraydn

[2022-03-21 18:53] colbymcdaniel commented on #17
@Snowflake-Coder-H2o ok well did he say that h has proof about this acusation. if soi need some informtion and i mite be able to turn the tables.

[2022-03-21 19:08] Snowflake-Coder-H2o commented on #17
@colbymcdaniel dont worry about it.

[2022-03-21 20:17] colbymcdaniel commented on #17
ok

[2022-03-21 20:25] Hankypoo7 commented on #17
hi i cant talk rn im in class be back in half hour but thanks guys

[2022-03-21 21:50] Belook12 commented on #17
This is a copyright of gliz work and he just confirmed it. You are removing his credits and are using the same code.

Talk to him at https://discord.gg/6VQawGjv gliz#0777 hes not accepting peoples friend request so join his discord server and talk to him there.

[2022-03-21 23:37] kgsensei commented on #17
The plot thickens. Hey @Belook12 can you stop being an enforcer? If gliz has an issue with this, he should be the one to enforce it. Not one of his followers and/or stans. Unless you can prove to be in communication with gliz as a business associate then I would encourage everyone to ignore @Belook12. With this being said, if you are a business associate with gliz that would look really bad for hi

[2022-03-22 02:36] Hankypoo7 commented on #17
@kgsensei i appriciate you bro i got ainxiety and am thankful i dont have to deal with dumb stuff like this, thank you for making my day by standing up for me and showing that someone cares

[2022-03-22 02:50] Hankypoo7 commented on #17
also btw snowflake and zastic braydin coded it

[2022-03-22 12:53] Snowflake-Coder-H2o commented on #17
@kgsensei Thank you bro so much. You just made my complete day. You just helped us out so much. I appreciate you so much no words can describe how thankful I am that you just did that huge essay. I just had a lot of anxiety reading what @Belook12 has been saying. @kgsensei I also thought that I was going to get into trouble with legal things, so I had to delete my blooket hack repo. So I deleted i

[2022-03-22 13:44] kgsensei commented on #17
I reached out to gliz and it is copyrighted and licensed so as long as you don't copy his work then your perfectly fine.

If you do the about half of the legal threats are valid. Still not all of them though.

[2022-03-22 14:05] Hankypoo7 commented on #17
ok

[2022-03-22 14:06] Snowflake-Coder-H2o commented on #17
@kgsensei But I coded alot of the hacks. using @zasticbraydn blooket hacks thing. So some of the hacks might be his.

[2022-03-22 17:03] Snowflake-Coder-H2o opened #18 "Hanky"
Hey, can we make a real Blooket hack repo? It will be even more organized and there will be better hacks and we will update them often. becasue this is basically just old hacks and not new ones. I can make the repo and let you contribute but I will probally do most of the hacks and stuff. Because I like making the stuff. I will organize it. I will give better description of all of the hacks. If no

[2022-03-22 18:01] Hankypoo7 commented on #18
can we change this one to the more orginised one so that people know where to go but I could maybe transfer ownership to you

[2022-03-22 18:35] Snowflake-Coder-H2o commented on #18
Ok thats fine. YOu can transfer ownership.

[2022-03-22 18:38] Snowflake-Coder-H2o commented on #18
@Hankypoo7 So I will update the readme.md and say whats will be happening. Is that fine?

[2022-03-22 18:42] Snowflake-Coder-H2o commented on #17
@kgsensei @Belook12 @colbymcdaniel @Hankypoo7 I will now be closing this.

[2022-03-22 18:42] #17 closed

[2022-03-22 18:50] Snowflake-Coder-H2o commented on #18
@Hankypoo7 you there?

Have a great day!

-Snow

[2022-03-22 19:43] Hankypoo7 commented on #18
sorry i got shool i will talk to you later

[2022-03-22 19:47] Hankypoo7 commented on #18
cant you do all that stuff without ownership?

[2022-03-22 20:29] Snowflake-Coder-H2o commented on #18
@Hankypoo7 Yes but it will be much easier  I can transfer ownership back whenever everything is setup the right way

[2022-03-22 20:39] Hankypoo7 commented on #18
ok

[2022-03-22 20:39] Hankypoo7 commented on #18
transfer it back when it set up ok?

[2022-03-22 20:41] Snowflake-Coder-H2o commented on #18
@Hankypoo7 Ok it might be a couple days though

[2022-03-22 20:42] Hankypoo7 commented on #18
it says you cant unless you delete the thing you forked from it

[2022-03-22 20:42] Hankypoo7 commented on #18
i gtg ill be back later

[2022-03-23 12:32] Snowflake-Coder-H2o commented on #18
@Hankypoo7 Does it say I forked something?

[2022-03-23 12:33] Snowflake-Coder-H2o commented on #18
@Hankypoo7 Try to transfer ownership now?

[2022-03-23 13:19] Hankypoo7 commented on #18
yeah

[2022-03-23 13:20] Hankypoo7 commented on #18
i did it but transfer it back when your done ok?

[2022-03-23 13:28] Snowflake-Coder-H2o commented on #18
Tranfer owner ship becuase Im not owner of the repo rn?

[2022-03-23 13:37] Hankypoo7 commented on #18
i did

[2022-03-23 13:37] Hankypoo7 commented on #18
i sent the invite

[2022-03-23 13:45] Snowflake-Coder-H2o commented on #18
@Hankypoo7 Did you type Snowflake-Coder-H2o
?
You have to make sure you type my name right.

[2022-03-23 14:19] colbymcdaniel commented on #18
hay sorry for not responding I lost my Chromebook

[2022-03-23 14:32] Snowflake-Coder-H2o commented on #18
@colbymcdaniel wym sorry for not responding

[2022-03-23 14:36] Snowflake-Coder-H2o commented on #18
@colbymcdaniel Who did?

[2022-03-23 14:36] Snowflake-Coder-H2o commented on #18
oh yeah I pinged you a couple days ago because I was telling people know that I was closing an issue

[2022-03-23 14:38] colbymcdaniel commented on #18
ok then

[2022-03-23 14:39] Snowflake-Coder-H2o commented on #18
yeah

[2022-03-23 14:43] colbymcdaniel commented on #18
I can't talk my teacher wot let me

[2022-03-23 14:46] Snowflake-Coder-H2o commented on #18
@colbymcdaniel wym?

[2022-03-23 14:48] Hankypoo7 commented on #18
he in class

[2022-03-23 14:49] Hankypoo7 commented on #18
try to do it without ownership

[2022-03-23 18:01] Hankypoo7 opened #19 "@snowflake"
can you make the add tokens blooket hack add 499 tokens instead of 500, it is leading to get people banned, becuase there is now a new antichant for adding 500 tokens in one

[2022-03-23 18:01] colbymcdaniel commented on #18
@Snowflake-Coder-H2o  ok I'm back

[2022-03-23 18:01] Hankypoo7 commented on #18
hi

[2022-03-23 18:02] colbymcdaniel commented on #18
how have you been

[2022-03-23 18:02] Hankypoo7 commented on #18
good, you?

[2022-03-23 18:03] Hankypoo7 commented on #18
im working ona a new hack to add 499 tokens

[2022-03-23 18:05] colbymcdaniel commented on #18
by

[2022-03-23 18:05] colbymcdaniel commented on #18
and I'm good

[2022-03-23 19:46] Hankypoo7 commented on #19
ok thanks

[2022-03-23 19:47] Hankypoo7 commented on #19
paste it here when you finish

[2022-03-23 20:07] Hankypoo7 commented on #19
@Snowflake-Coder-H2o hows it going

[2022-03-24 12:52] Snowflake-Coder-H2o commented on #19
@Hankypoo7 Good but I jsut found out that zastic wont be really making hacks for blooket that much anymore and for now neither will I. Or at least until things calm down.

[2022-03-24 13:16] Hankypoo7 commented on #19
ok but did you fix it

[2022-03-24 13:24] Snowflake-Coder-H2o commented on #19
@Hankypoo7 Fix the repo?

[2022-03-24 13:34] colbymcdaniel commented on #18
I'm back guys hello guys how have yall been?

[2022-03-24 14:22] colbymcdaniel commented on #18
I have discord its just on my phone not this because its a school Chromebook

[2022-03-24 14:23] colbymcdaniel commented on #18
just wanted yall to know

[2022-03-24 14:25] Snowflake-Coder-H2o commented on #18
@colbymcdaniel Same.

[2022-03-24 14:58] Hankypoo7 commented on #18
I dont have discord lol sorry

[2022-03-24 15:05] Snowflake-Coder-H2o commented on #19
@Hankypoo7 I said prior, Im currently not working on any hacks until things calm down. @Hankypoo7

[2022-03-24 15:10] Hankypoo7 commented on #19
ok

[2022-03-24 15:13] Snowflake-Coder-H2o commented on #19
Im dealing with legal things atm. I will be back with hacks in a couple days.

[2022-03-24 15:13] Snowflake-Coder-H2o commented on #19
Have a great day!

-Snow

[2022-03-24 15:36] Hankypoo7 commented on #19
wait tell me who and why and how

[2022-03-24 15:40] Snowflake-Coder-H2o commented on #19
@Hankypoo7 What do you mean?
Have a great day!

-Snow

[2022-03-24 17:18] Hankypoo7 commented on #19
who is legally threataning you

[2022-03-24 17:23] colbymcdaniel commented on #18
if yall want to use discord on your guy's phone my discord is cheese man ill have to check to see what the number thing that you need i can check at like 3:30

[2022-03-24 17:48] Snowflake-Coder-H2o commented on #19
@Hankypoo7 The old legend, Gliz.He made me delete a whole entire repo. Thats why my hacks are gone. So I will be remaking my own hacks.

[2022-03-24 19:01] Hankypoo7 commented on #19
ok

[2022-03-25 14:10] colbymcdaniel commented on #18
hay yall hows yall's day going (I'm talking in Floridian btw)

[2022-03-25 14:12] Hankypoo7 commented on #18
good you?

[2022-03-25 14:13] colbymcdaniel commented on #18
I'm doing good I'm doing a story of Baba Yaga

[2022-03-25 14:56] Hankypoo7 commented on #19
ok

[2022-03-25 14:56] Hankypoo7 commented on #18
nice

[2022-03-25 14:57] colbymcdaniel commented on #18
yeah

[2022-03-25 16:02] 123345666777777777777777777777777 opened #20 "Some broken gamemode hacks"
None of the game mode hacks work for me why.Ps.I am on I.pad.

[2022-03-25 17:35] Hankypoo7 commented on #20
ok. We will try to work on a fix in the next day or sooner. thanks for the issue

[2022-03-25 17:53] Snowflake-Coder-H2o commented on #20
@Hankypoo7  will try

[2022-03-25 20:14] Hankypoo7 commented on #20
yeah

[2022-03-27 18:10] 123345666777777777777777777777777 commented on #20
TYSSM

[2022-03-28 01:03] Hankypoo7 commented on #20
yeah ofc :)

[2022-03-28 13:47] colbymcdaniel commented on #18
@Hankypoo7  hay witch thing should we talk on

[2022-03-28 13:53] Snowflake-Coder-H2o commented on #20
@Hankypoo7 What hacks are broken so I know and so I can work on fixing them.
Have a great day!

-Snow

[2022-03-28 14:37] Hankypoo7 commented on #20
@Snowflake-Coder-H2o  spam open boxes

[2022-03-28 15:10] Hankypoo7 commented on #18
or https://github.com/Hankypoo7/Blooket-hacks-Hankypoo7-/issues/20

[2022-03-28 15:34] Snowflake-Coder-H2o commented on #20
@Hankypoo7 Ok Ill be trying to fix it

[2022-03-30 11:54] 123345666777777777777777777777777 commented on #20
Have u fixed the broken game mode hacks?

[2022-03-30 11:59] 123345666777777777777777777777777 opened #22 "Get all answers correct is not working."
Pretty self explanatory

[2022-03-30 12:32] Snowflake-Coder-H2o commented on #20
@123345666777777777777777777777777 Sorry man but we are currently working on it.

[2022-03-30 12:36] Snowflake-Coder-H2o commented on #19
Have a great day!

-Snow

[2022-03-30 12:36] #19 closed

[2022-03-30 12:37] Snowflake-Coder-H2o commented on #18
Have a great day!

-Snow

[2022-03-30 12:37] #18 closed

[2022-03-30 14:57] Hankypoo7 commented on #22
ok im working on a fix

[2022-03-30 22:49] Hankypoo7 commented on #20
ok

[2022-03-31 00:59] Pikachurocksinssbu opened #25 "Factory Hacks"
Just a question why are there no hacks for the factory mode?

[2022-03-31 01:40] BlooketisLit opened #26 "OMG TYSM!!!!!!"
THEESE ACTUALLY WORK THANK YOU THANK YOU THANK YOU THANK YOU THANK YOU THANK YOU THANK YOU!!!!!!!!!

[2022-03-31 01:42] Hankypoo7 commented on #26
yeah man np its what we do :)

[2022-03-31 12:14] 123345666777777777777777777777777 opened #28 "Fishing Frenzy"
Most people in my class like to play Fishing Frenzy and Crypto hack.It would be nice if you made hacks for both of those.Crypto does not work.

[2022-03-31 12:25] Snowflake-Coder-H2o commented on #28
@123345666777777777777777777777777 Ok.

[2022-03-31 12:25] 123345666777777777777777777777777 commented on #28
Oh you are very fast

[2022-03-31 12:25] 123345666777777777777777777777777 commented on #28
At responding

[2022-03-31 12:29] Snowflake-Coder-H2o commented on #28
@123345666777777777777777777777777 I try to be

[2022-03-31 12:29] Snowflake-Coder-H2o commented on #26
@BlooketisLit Its what we all do. We make and post them

[2022-03-31 12:30] Snowflake-Coder-H2o commented on #20
@123345666777777777777777777777777 What do you mean by "flex"?

[2022-03-31 12:34] 123345666777777777777777777777777 commented on #20
Flex means to show off

[2022-03-31 12:35] Snowflake-Coder-H2o commented on #20
o

[2022-03-31 21:33] 123345666777777777777777777777777 opened #31 "Bot spam hack"
The bot spam hack is not working for me

[2022-03-31 22:04] Hankypoo7 commented on #31
yeah, it only works sometimes Ill try to fix it

[2022-03-31 22:09] 123345666777777777777777777777777 commented on #31
Ty

[2022-04-01 11:53] 123345666777777777777777777777777 commented on #20
Did you fix these?

[2022-04-01 11:53] 123345666777777777777777777777777 commented on #31
Did you fix this?

[2022-04-01 11:54] 123345666777777777777777777777777 commented on #22
Did you fix this?

[2022-04-01 12:35] Snowflake-Coder-H2o commented on #20
@123345666777777777777777777777777

[2022-04-01 13:17] 123345666777777777777777777777777 commented on #20
Wut @Snowflake-Coder-H2o

[2022-04-01 21:41] wagma9g9q commented on #31
you cant fix it cause you didnt make it. stop stealing code from gliz retarrd

[2022-04-01 21:41] wagma9g9q opened #34 "THANKS!"
These hacks are awesome!

[2022-04-01 21:53] 123345666777777777777777777777777 commented on #34
It works for me and it is very good.

[2022-04-01 21:55] 123345666777777777777777777777777 commented on #34
Also it literally says some of these are from schoolcheats.net it’s in the README.

[2022-04-02 01:53] #34 closed

[2022-04-03 00:59] #26 closed

[2022-04-04 22:00] 123345666777777777777777777777777 commented on #25
Did u fix this?

[2022-04-05 17:01] Snowflake-Coder-H2o opened #40 "Question"
@Hankypoo7 Do you have discord?

[2022-04-05 17:19] Brayden9292 opened #41 "unlock all blooks dosent work"

[2022-04-05 17:23] Snowflake-Coder-H2o commented on #41
It might be a day or two.

[2022-04-05 17:58] isthatyourfaceoryouassicanttell commented on #41
hey got you

[2022-04-05 17:58] isthatyourfaceoryouassicanttell commented on #41
snowflake i can do it

[2022-04-05 17:59] isthatyourfaceoryouassicanttell commented on #20
hey guys what is broken

[2022-04-05 17:59] isthatyourfaceoryouassicanttell commented on #20
i can do it

[2022-04-05 17:59] isthatyourfaceoryouassicanttell commented on #20
123345666777777777777777777777777777777777777777 i can fix what ever you need

[2022-04-05 18:11] isthatyourfaceoryouassicanttell opened #43 "every one"
every one if you are not a coder maker plz do not chat on these unless there is a issue

[2022-04-05 18:13] isthatyourfaceoryouassicanttell opened #44 "This the the issue page"
if a issue with the code is happing type which one is broken and the date it is broken

[2022-04-05 18:37] Snowflake-Coder-H2o commented on #43
@isthatyourfaceoryouassicanttell Why who is chatting?

[2022-04-05 18:39] Snowflake-Coder-H2o commented on #41
@isthatyourfaceoryouassicanttell Ight

[2022-04-05 20:04] Hankypoo7 commented on #40
i do not, sorry

[2022-04-05 20:05] Hankypoo7 commented on #41
thank you

[2022-04-05 20:55] Hankypoo7 commented on #22
fixed

[2022-04-05 20:55] #22 closed

[2022-04-05 21:03] #20 closed

[2022-04-05 21:04] Hankypoo7 commented on #25
yep

[2022-04-05 21:04] #25 closed

[2022-04-05 23:04] 123345666777777777777777777777777 opened #45 "Hacks issues"
Whenever I do the hack on i.pad.Bookmarklet it does not work.It said error occurred report to discord server

[2022-04-06 12:00] 123345666777777777777777777777777 opened #46 "Crypto Hack"
Can you make aa hack where you can't be hacked?

[2022-04-06 12:51] Hankypoo7 commented on #46
I'm not sure if that is possible, i can try though

[2022-04-06 14:01] Snowflake-Coder-H2o commented on #45
@123345666777777777777777777777777 Which hack(s)

[2022-04-06 14:04] isthatyourfaceoryouassicanttell commented on #46
yea that doesn't make much sense unless you mean you can stop other people from hacking and really its just add scripts which are just codes

[2022-04-06 21:24] 123345666777777777777777777777777 commented on #46
ok

[2022-04-06 21:24] #46 closed

[2022-04-06 21:25] 123345666777777777777777777777777 commented on #45
most gamemode hacks

[2022-04-07 13:16] Snowflake-Coder-H2o commented on #34
@ghost go away

[2022-04-07 13:17] #44 closed

[2022-04-07 13:18] #43 closed

[2022-04-07 13:19] Snowflake-Coder-H2o opened #48 "Hello"
@Hankypoo7 I think we need to minimize the amount of people we have as a collaberator. We need to make @123345666777777777777777777777777 not a collaberator. becuase he dosent really need to be one. He isnt making hacks he is just showcasing them to his friends and claiming them to be his.

[2022-04-07 15:43] isthatyourfaceoryouassicanttell commented on #45
snowfalke none of the hacks are working are they all down

[2022-04-07 15:43] Pikachurocksinssbu commented on #48
He has helped a lot by promoting these hacks.

[2022-04-07 15:43] isthatyourfaceoryouassicanttell commented on #45
if they are down i can fix them

[2022-04-07 15:50] isthatyourfaceoryouassicanttell commented on #48
?... what do you mean

[2022-04-07 15:50] isthatyourfaceoryouassicanttell commented on #48
how are you on here

[2022-04-07 15:51] Pikachurocksinssbu commented on #48
I am his best friend

[2022-04-07 15:51] isthatyourfaceoryouassicanttell commented on #48
yea and

[2022-04-07 15:51] isthatyourfaceoryouassicanttell commented on #48
what do you mean by he promted the hacks

[2022-04-07 15:51] Pikachurocksinssbu commented on #48
I am sitting next to him

[2022-04-07 15:52] isthatyourfaceoryouassicanttell commented on #48
yea and my question

[2022-04-07 15:52] Pikachurocksinssbu commented on #48
And he told almost the whole school to use the hacks.

[2022-04-07 15:52] isthatyourfaceoryouassicanttell commented on #48
let me guess school o well be prepared for blocking

[2022-04-07 15:52] Pikachurocksinssbu commented on #48
WDYM

[2022-04-07 15:55] Pikachurocksinssbu commented on #48
O

[2022-04-07 15:55] Pikachurocksinssbu commented on #48
I am in Art

[2022-04-07 15:56] isthatyourfaceoryouassicanttell commented on #48
what state is your school in mine is in Minnasota

[2022-04-07 15:57] isthatyourfaceoryouassicanttell commented on #48
im in 6th grade

[2022-04-07 15:57] isthatyourfaceoryouassicanttell commented on #48
?...

[2022-04-07 15:57] Pikachurocksinssbu commented on #48
5th

[2022-04-07 15:58] Pikachurocksinssbu commented on #48
ILLINOIS

[2022-04-07 15:58] isthatyourfaceoryouassicanttell commented on #48
state not town or city

[2022-04-07 15:59] Pikachurocksinssbu commented on #48
Illinois is a state

[2022-04-07 15:59] isthatyourfaceoryouassicanttell commented on #48
use pixel art as a excuse to be on your chromebook during art

[2022-04-07 15:59] Pikachurocksinssbu commented on #48
Sure

[2022-04-07 15:59] Pikachurocksinssbu commented on #48
Sure

[2022-04-07 16:00] Pikachurocksinssbu commented on #48
I am looking at “pictures” to draw

[2022-04-07 16:00] isthatyourfaceoryouassicanttell commented on #40
hey snowflake i have discord

[2022-04-07 16:01] isthatyourfaceoryouassicanttell commented on #40
unless you have a unblocked discord i can use

[2022-04-07 16:01] Pikachurocksinssbu commented on #40
Yes

[2022-04-07 16:02] isthatyourfaceoryouassicanttell commented on #40
hey pikachurocksinsbu do you play call of duty warzone or vanguard or minecraft  or Ark survival evolved

[2022-04-07 16:02] isthatyourfaceoryouassicanttell commented on #40
gtg bye

[2022-04-07 16:03] Pikachurocksinssbu commented on #40
Nope

[2022-04-07 16:03] Pikachurocksinssbu commented on #40
Bye

[2022-04-07 17:00] Snowflake-Coder-H2o commented on #45
@isthatyourfaceoryouassicanttell Sure if you want to. I would But Im working on a big project rn

[2022-04-07 17:00] Snowflake-Coder-H2o commented on #48
@isthatyourfaceoryouassicanttell @123345666777777777777777777777777 Has promoted these hacks but he dosent need to be a collaberator for this.

[2022-04-07 17:29] isthatyourfaceoryouassicanttell commented on #48
yea

[2022-04-07 17:29] isthatyourfaceoryouassicanttell commented on #48
i agree

[2022-04-07 17:31] isthatyourfaceoryouassicanttell commented on #48
hey snowflake once i get discord with you can you teach me how to make more types of hacks and could you try to make a ixl hack that shows you what the answers are

[2022-04-07 18:22] Snowflake-Coder-H2o commented on #48
They arent @colbymcdaniel hacks either

[2022-04-07 18:22] Snowflake-Coder-H2o commented on #48
ITs only mine @isthatyourfaceoryouassicanttell and you @Hankypoo7

[2022-04-07 18:35] Hankypoo7 commented on #48
ok

[2022-04-07 19:53] colbymcdaniel commented on #48
i don't know how to make them privet can you tell me and i will

[2022-04-07 19:54] colbymcdaniel commented on #48
@Hankypoo7 i don't know how to make them privet can you tell me and i will

[2022-04-07 20:01] Hankypoo7 commented on #48
make what private?

[2022-04-07 20:06] colbymcdaniel commented on #48
yall were talking to every one to make there blanket thing privet but i don't know-how

[2022-04-07 20:41] Hankypoo7 commented on #48
not you i was telling @123345666777777777777777777777777 that he has to make his website private because he doesnt own the hacks

[2022-04-07 21:24] 123345666777777777777777777777777 commented on #48
Ok so how do I make myself not a collaborater

[2022-04-07 22:36] isthatyourfaceoryouassicanttell commented on #48
um hank will do it i dont know how cause i dont own it

[2022-04-07 22:37] isthatyourfaceoryouassicanttell commented on #45
like are they broken now i can fix them tomorrow

[2022-04-07 22:37] isthatyourfaceoryouassicanttell commented on #45
but they have been working for me

[2022-04-07 22:38] isthatyourfaceoryouassicanttell commented on #45
there is a glitch where if you join a game you have to do some real questions first then you can do it

[2022-04-08 16:46] colbymcdaniel commented on #40
I have discord Minecraft and call of duty vanguard if you want to play @isthatyourfaceoryouassicanttell

[2022-04-11 12:49] Snowflake-Coder-H2o opened #49 "Bro WTF"
@isthatyourfaceoryouassicanttell Dude your not codeing  your own hacks. Your getting them from schoolcheats.net/blooket. Stop we are going to get a cease and desist From Gliz. Now I know Why we are gettong targeted.

[2022-04-11 12:59] colbymcdaniel commented on #49
what happened?

[2022-04-11 13:13] Hankypoo7 commented on #49
yeah whats going on

[2022-04-11 13:28] Snowflake-Coder-H2o commented on #49
@Hankypoo7  I just figured out why we are getting copyright Striked from Gliz. It's because @isthatyourfaceoryouassicanttell Has been getting his hacks from Schoolcheats.net/blooket. I thought he has been coding then But he hasent been

[2022-04-11 14:25] colbymcdaniel commented on #49
oh that's not good

[2022-04-11 14:33] Snowflake-Coder-H2o commented on #49
@colbymcdaniel  Yeah IG

[2022-04-11 14:33] colbymcdaniel commented on #49
btw do yall have a discord

[2022-04-11 14:34] Snowflake-Coder-H2o commented on #49
I dont know what the 4 digit numbers are though

[2022-04-11 14:36] Snowflake-Coder-H2o commented on #49
Ok.

[2022-04-11 17:05] colbymcdaniel commented on #49
ill tel you at around 4 ish

[2022-04-11 17:59] Snowflake-Coder-H2o commented on #49
@colbymcdaniel Ok

[2022-04-11 19:15] colbymcdaniel commented on #49
@Snowflake-Coder-H2o  How's your day going?

[2022-04-12 12:31] Snowflake-Coder-H2o commented on #49
@colbymcdaniel Good! Thanks for asking! How's your day going?
-Snow

[2022-04-12 13:06] colbymcdaniel commented on #49
good

[2022-04-12 13:42] colbymcdaniel commented on #49
hay @Snowflake-Coder-H2o have you got to talk to isthatyourfaceoryouassicanttell and see whats up?

[2022-04-12 13:51] Snowflake-Coder-H2o commented on #49
@colbymcdaniel Not yet he hasen't responded on here yet

[2022-04-12 13:52] colbymcdaniel commented on #49
ok well talk to you latar

[2022-04-12 13:54] Snowflake-Coder-H2o commented on #49
@colbymcdaniel Talk to you later

[2022-04-13 14:00] isthatyourfaceoryouassicanttell commented on #49
no i cant use that its blocked

[2022-04-13 14:00] isthatyourfaceoryouassicanttell commented on #49
its blocked for me i tried to get on are school has something called securly and it blocks everything

[2022-04-13 14:01] isthatyourfaceoryouassicanttell commented on #49
sadly

[2022-04-13 14:01] isthatyourfaceoryouassicanttell commented on #49
so i use his to fix things other wise no

[2022-04-13 14:02] Snowflake-Coder-H2o commented on #49
@isthatyourfaceoryouassicanttell So your using someone else hacks?

[2022-04-13 14:02] isthatyourfaceoryouassicanttell commented on #49
i wish i could learn how to code my one yes he said i could

[2022-04-13 14:02] isthatyourfaceoryouassicanttell commented on #49
be back soon

[2022-04-13 14:02] Snowflake-Coder-H2o commented on #49
@isthatyourfaceoryouassicanttell The point of this repo is to make your own hacks

[2022-04-13 14:07] isthatyourfaceoryouassicanttell commented on #49
one sec social studies can you teach me how to make them at 10:45 to 11:10
just make a video and private chat me it gtg bye

[2022-04-13 15:03] colbymcdaniel commented on #49
so how has it been talking to isthatyourfaceoryouassicanttell @Snowflake-Coder-H2o

[2022-04-13 15:17] isthatyourfaceoryouassicanttell commented on #49
colbymcdaniel I got permission from lol jude to use his so if i need to fix things that what i use

[2022-04-13 15:21] isthatyourfaceoryouassicanttell commented on #49
is someone could teach it would be nice if somebody could email me a video and teach me here is my alt email cause my school doesnt let me talk to people out of school evanchristensenkunz@gmail.com          i will code my own hacks if i learn how to :)

[2022-04-13 16:36] Snowflake-Coder-H2o commented on #49
@isthatyourfaceoryouassicanttell Im not going to make a whole video just to explain how to make hacks. I thought you coded your own hacks. So Stop using lol jude's hacks because he got them from schoolcheats.net/blooket which is gliz code. That is why we are getting copyright striked. If you dont stop using his hacks I will be forced to take this into my own hands

[2022-04-13 17:23] colbymcdaniel commented on #49
hay @isthatyourfaceoryouassicanttell i know this might not be the right time but can you tell me where the ixl hacks are

[2022-04-13 18:16] Snowflake-Coder-H2o commented on #49
@isthatyourfaceoryouassicanttell What is IXL

[2022-04-13 18:49] colbymcdaniel commented on #49
can i get ixl hacks @isthatyourfaceoryouassicanttell

[2022-04-14 12:26] Snowflake-Coder-H2o commented on #49
@colbymcdaniel What is IXL mean

[2022-04-14 12:41] Snowflake-Coder-H2o opened #51 "Hello"
@Hankypoo7 @colbymcdaniel @byronbytes @isthatyourfaceoryouassicanttell @123345666777777777777777777777777 Im making a website for the hacks. Ill post the site.

[2022-04-14 12:45] #40 closed

[2022-04-14 12:46] #48 closed

[2022-04-14 13:02] Hankypoo7 commented on #51
ok

[2022-04-14 15:27] colbymcdaniel commented on #51
?

[2022-04-14 22:51] isthatyourfaceoryouassicanttell commented on #49
IXL IS A LEARNING PLAT FORM THAT COST MONEY AND THE TEACHERS MAKE US DO IT ALL THE TIME BUT i can earn prizes sorry caps lock

[2022-04-14 22:51] isthatyourfaceoryouassicanttell commented on #49
no i said if i could learn how i would make one

[2022-04-14 22:58] isthatyourfaceoryouassicanttell commented on #49
hey i am searching up how to do it and well i think i figured it out i am first going to make a ixl hack

[2022-04-14 23:06] byronbytes commented on #51
I could also help with the website, sounds interesting.

[2022-04-14 23:07] byronbytes commented on #49
I think crediting him for most of the scripts could remove the copyrights

[2022-04-14 23:35] isthatyourfaceoryouassicanttell commented on #49
just leave them gtg be back soon

[2022-04-14 23:54] isthatyourfaceoryouassicanttell commented on #49
yea

[2022-04-14 23:55] isthatyourfaceoryouassicanttell commented on #49
@byronbytes can you make hacks or no

[2022-04-14 23:56] isthatyourfaceoryouassicanttell commented on #51
no body worry this is @isthatyourfaceoryouassicanttell

[2022-04-14 23:56] isthatyourfaceoryouassicanttell commented on #51
o wate

[2022-04-14 23:56] isthatyourfaceoryouassicanttell commented on #51
seck its not working

[2022-04-15 00:01] isthatyourfaceoryouassicanttell commented on #51
there lets see

[2022-04-15 00:02] isthatyourfaceoryouassicanttell commented on #51
can anyone show me how to create hacks using inspect tool plz it will be worth it trust me

[2022-04-15 01:10] Hankypoo7 commented on #49
@byronbytes is helping alot by organizing all theese hacks, thanks again :)

[2022-04-15 01:11] Hankypoo7 commented on #51
@Snowflake-Coder-H2o what kind of website? can I help?

[2022-04-15 12:40] isthatyourfaceoryouassicanttell commented on #51
he will post it some time hey hank can you make a video for me on how to make these hacks using the inspect tool plz it will be worth the time cause once im done with chores al thou i have like 50 during my free time i will be making all sorts of hacks so Pretty plz i make a cool pixel art plz

[2022-04-15 12:41] isthatyourfaceoryouassicanttell commented on #49
ok he is doing the organizing

[2022-04-15 12:42] isthatyourfaceoryouassicanttell commented on #49
i have something

[2022-04-15 12:45] isthatyourfaceoryouassicanttell opened #52 "unblocked games site list try all of these"
read below plz

[2022-04-15 12:45] isthatyourfaceoryouassicanttell commented on #52
https://sealcentral.gq
https://shawdowhasalink.gq
https://shawdOw.gq
https://sites.google.com/site/thegamecompilation/gun-mayhem-2

try searching in your search bar ("unblocked games google sites") and there will be a bunch :)

movie site not all of them work you have to go to updates to watch them

https://sealflix.co

[2022-04-15 16:29] byronbytes commented on #49
I mean, I have experience with coding but not in JS. You can check my profile for the stuff that I can do, I mainly do C#.

[2022-04-15 16:30] byronbytes commented on #51
So basically like a  bypass school block sites, I could help.

[2022-04-15 16:40] Hankypoo7 commented on #51
ok cool

[2022-04-15 16:40] Hankypoo7 commented on #51
Its hard to explain @isthatyourfaceoryouassicanttell

[2022-04-15 16:49] byronbytes commented on #51
also I own a business at https://LiteTools.net

[2022-04-15 17:34] isthatyourfaceoryouassicanttell commented on #51
no no no i know all about bypassing

[2022-04-15 17:35] isthatyourfaceoryouassicanttell commented on #51
trust me 1 year and a half and me and my friend you dont know him he hasnt chatted on here but we have found 9 different ways to bypass

[2022-04-15 17:35] isthatyourfaceoryouassicanttell commented on #51
when one gets blocked or delted then we find a new way to are stuff

[2022-04-15 17:36] isthatyourfaceoryouassicanttell commented on #51
try this the https://spotsstuff.cf

[2022-04-15 17:37] isthatyourfaceoryouassicanttell commented on #51
or https://sealcentral.gq

[2022-04-15 17:40] isthatyourfaceoryouassicanttell commented on #51
https://shawdowhasalink.gq

[2022-04-15 17:40] isthatyourfaceoryouassicanttell commented on #51
https://shawdOw.gq

[2022-04-15 19:06] isthatyourfaceoryouassicanttell commented on #51
https://www.wevideo.com/view/2646667020
here is a bypass way

[2022-04-15 19:06] isthatyourfaceoryouassicanttell commented on #51
never mind i cant get it to work

[2022-04-15 19:07] isthatyourfaceoryouassicanttell commented on #51
its working yay

[2022-04-15 19:08] isthatyourfaceoryouassicanttell commented on #51
https://www.wevideo.com/view/2646667020 here is the first method it dosnt work for me any more sadly cause school admin delted the edit button but enjoy for you guys :)

[2022-04-15 19:11] isthatyourfaceoryouassicanttell commented on #52
here is my video on a method to unblock all the school admin deleted are edit button so it will work for you but not me https://www.wevideo.com/view/2646667020
ENJOY

[2022-04-15 20:20] Hankypoo7 commented on #51
Really?! thats awesome!

[2022-04-15 21:29] isthatyourfaceoryouassicanttell commented on #49
@byronbytes samething try this https://www.twilio.com/quest/download
this is a JS learning plat form i just found :)

[2022-04-18 14:51] isthatyourfaceoryouassicanttell commented on #51
snowflake did you make it yet

[2022-04-18 20:09] #28 closed

[2022-04-18 21:54] 123345666777777777777777777777777 opened #53 "Sorry"
I am sorry for unstarring here are some stars.Sorry

[2022-04-19 02:48] notzastix opened #54 "my idiotic auto answer [not an issue]"
hey, here's an auto answer i made a while back, I don't know if it still works but since I'm kinda leaving blooket i thought i might share it. it might need some fixes but its pretty good

[code]

[2022-04-19 12:37] Snowflake-Coder-H2o commented on #54
@notzastix. WAIT WHAT? yOUR QUITING BLOOKET?! Are we still working on blax?

[2022-04-19 13:15] Hankypoo7 commented on #54
@notzastix I appriciate this man ty, sad to see you go, but I hope you have fun doing whatever project next :)

[2022-04-19 13:18] Hankypoo7 commented on #53
thank you, we are also sorry un-modding you so quickly, we will think about letting you be a collaborator again

[2022-04-19 15:00] byronbytes commented on #51
good

[2022-04-19 18:40] notzastix commented on #54
Yeah, the scripting/exploiting community is really aids, and it just is making me hate the game.
I'm still working on blax and stuff like that, and i might do some small side projects for blooket, but nothing as big as the BlooketUI or anything else

[2022-04-19 18:40] notzastix commented on #54
thanks, you guys have been the nicest people I've met in the blooket scripting community.

[2022-04-19 18:40] #54 closed

[2022-04-19 18:42] Snowflake-Coder-H2o commented on #54
@notzastix honestly It was amazing meeting you. It really is sad to see you go. I hope one day you will come back to this on a side project or jsut for fun and make blooket hacks. You are really good at making them. We will all miss you alot. Have fun.

[2022-04-19 20:19] notzastix commented on #54
I do have some plans for blacket and blax, but if that ever dies down or something happens ill come back and might continue the BlooketUI, and I might continue it as a site project.

[2022-04-19 20:19] Hankypoo7 commented on #54
ok, cool

[2022-04-19 21:13] 123345666777777777777777777777777 commented on #53
It is okay.I will try to help other ppl.

[2022-04-20 13:13] Hankypoo7 commented on #53
ok, thanks

[2022-04-20 19:12] colbymcdaniel commented on #51
hay guys hows yalls day going?

[2022-04-21 12:38] Snowflake-Coder-H2o commented on #53
@123345666777777777777777777777777 Alright If we do need another collaberator we will go to you first

[2022-04-21 12:46] Snowflake-Coder-H2o commented on #54
@notzastix Ok awesome. Just let me know because I will happily help.

[2022-04-21 13:34] 123345666777777777777777777777777 commented on #53
ty

[2022-04-21 13:34] #53 closed

[2022-04-21 18:47] Snowflake-Coder-H2o commented on #53
@123345666777777777777777777777777  Np

[2022-04-22 21:20] 123345666777777777777777777777777 commented on #52
All of these are blocked

[2022-04-22 21:29] 123345666777777777777777777777777 opened #58 "Use bookmarklet"
@Hankypoo7 do u know about the bookmarklet method

[2022-04-23 03:59] Hankypoo7 commented on #52
yeah

[2022-04-23 03:59] Hankypoo7 commented on #58
yeah

[2022-04-24 16:39] 123345666777777777777777777777777 commented on #58
Don’t use the one where u paste JavaScript and the code into the url box because for some devices it doesn’t work.So instead delete the url box one and make a pic of doing the bookmarklet method @Hankypoo7.

[2022-04-24 16:40] 123345666777777777777777777777777 commented on #51
@Snowflake-Coder-H2o

[2022-04-24 16:43] 123345666777777777777777777777777 commented on #31
Is this fixed

[2022-04-25 11:44] Snowflake-Coder-H2o commented on #51
@123345666777777777777777777777777 No Its not for this. And It wasent your idea. I was thinking bout making one way before you. I just never got the time to finish it. i have just been working on it as a side project.

[2022-04-25 11:44] Snowflake-Coder-H2o commented on #51
ITs for my own repo.

[2022-04-25 11:45] Snowflake-Coder-H2o commented on #58
@123345666777777777777777777777777 What is the bookmarklet method?

[2022-04-25 12:13] byronbytes commented on #51
Shouldn't you guys just make an organization for all the blooket things so it's easier to keep track of everything? You wouldn't need to have seperate repos for different users, because some of you guys have the same blooket hack repositories

[2022-04-25 12:43] Snowflake-Coder-H2o commented on #51
@byronbytes Yes But because of Gliz He wont leave us alone therefor. If a repo gets taken down. We wont have the hacks and have to recode and I dont wanna do that.

[2022-04-25 12:48] byronbytes commented on #51
Well Gliz cheats don't even work anymore, most cheats either don't load his cheats or say that he removed them. Also, I know how to help out, do you guys have discord?

[2022-04-25 13:31] Snowflake-Coder-H2o commented on #51
@byronbytes Yes I do Have discord.

[2022-04-25 14:46] byronbytes commented on #51
by the way doing the scripts boots you out of the game

[2022-04-25 16:38] Snowflake-Coder-H2o commented on #51
which ones

[2022-04-25 16:53] byronbytes commented on #51
Gold Quest ones

[2022-04-25 19:06] Snowflake-Coder-H2o commented on #51
Ok

[2022-04-25 23:49] 123345666777777777777777777777777 commented on #58
I will tell on discord

[2022-04-26 16:35] #31 closed

[2022-04-26 18:35] Snowflake-Coder-H2o commented on #58
Ok

[2022-04-26 20:10] TheVillainCoder commented on #52
@isthatyourfaceoryouassicanttell bruh this isn't even an issue
@Hankypoo7 you should just close this.

[2022-04-26 20:20] TheVillainCoder opened #60 "Choice ESP in Gold Quest"
What is the function of this hack?

[2022-04-26 22:29] 123345666777777777777777777777777 commented on #58
@Snowflake-Coder-H2o u accidentally blocked me on discord

[2022-04-27 01:38] Hankypoo7 commented on #60
it shows what you get if you click on any given chest

[2022-04-27 10:36] TheVillainCoder commented on #60
Thank you! Maybe you could change the name to something more obvious?

[2022-04-27 10:36] #60 closed

[2022-04-27 12:33] Snowflake-Coder-H2o commented on #60
@TheVillainCoder I gotchu

[2022-04-27 12:35] Snowflake-Coder-H2o commented on #58
@123345666777777777777777777777777 No I didnt "accidentally" I purposely blocked you. You were being anoyying.

[2022-04-27 12:36] Snowflake-Coder-H2o commented on #52
@TheVillainCoder Thanks for the heads-up I will close it now

[2022-04-27 12:36] #52 closed

[2022-04-27 21:29] 123345666777777777777777777777777 commented on #58
Whoops srry

[2022-04-27 21:29] 123345666777777777777777777777777 commented on #58
Lol

[2022-04-27 21:39] TheVillainCoder commented on #49
@Snowflake-Coder-H2o still officially an issue? I would go through each hack (on an alt) and see if it has the Gliz credit.

[2022-04-27 21:44] TheVillainCoder commented on #51
@Snowflake-Coder-H2o Still need open?

[2022-04-28 02:35] #49 closed

[2022-04-28 14:36] #51 closed

[2022-04-28 14:37] #58 closed

[2022-04-30 22:04] TheVillainCoder opened #63 "Gold Rush Directory"
There is a Directory titled 'Gold Rush'. The actual gamemode is 'Gold Quest'.
### _Tags_
_@Hankypoo7
@Snowflake-Coder-H2o
@isthatyourfaceoryouassicanttell_

[2022-05-02 11:34] Snowflake-Coder-H2o commented on #63
@TheVillainCoder Thanks Ill fix it

[2022-05-02 11:56] #63 closed

[2022-05-04 12:37] byronbytes opened #72 "Blooket Hack Suggestion"
There are many blooket hack repositories out there with completely different developers doing the same thing, but how about a giant collaborative repository? I could create it, but I need your guys' opinions on it.

[2022-05-04 13:23] Hankypoo7 commented on #72
Great idea, we can do that for sure!

[2022-05-04 13:25] byronbytes commented on #72
Alright! Do you have any name ideas for the giant repository?

[2022-05-04 15:25] Hankypoo7 commented on #72
Maybe "Giant Blooket Hacks Collaboration" or something like that idk

[2022-05-04 18:35] Snowflake-Coder-H2o commented on #72
@byronbytes I think you should name it Blooket Hacks Collab.

[2022-05-04 19:16] TheVillainCoder commented on #72
@byronbytes @Snowflake-Coder-H2o @Hankypoo7 I agree with Snowflake.

[2022-05-05 13:15] Hankypoo7 commented on #72
yeah

[2022-05-05 13:16] byronbytes commented on #72
alright

[2022-05-05 13:21] byronbytes commented on #72
I invited everyone to the repository

[2022-05-05 13:33] TheVillainCoder commented on #72
@byronbytes It's saying the repo isn't found...

[2022-05-05 14:59] byronbytes commented on #72
I have decided to plan this later because I am worried about the potential consequences

[2022-05-05 15:17] Snowflake-Coder-H2o commented on #72
@byronbytes oK thats fine

[2022-05-05 17:07] TheDItto opened #77 "kicked"
when you use the add tokens and then do something it kicks you. And this is for all of them.

[2022-05-05 19:08] Hankypoo7 commented on #77
ok we will check it out

[2022-05-05 19:17] Hankypoo7 commented on #77
I tested the tokens and it didn't kick me

[2022-05-05 19:29] TheVillainCoder commented on #77
@Hankypoo7 They mean the ones for in-game (such as Gold Quest/Infinite Gold.js)

[2022-05-05 19:29] TheVillainCoder commented on #77
@Hankypoo7 @TheDItto We are saying 'Kick' as in you can't log in?

[2022-05-05 21:23] 123345666777777777777777777777777 commented on #77
No,as in it sends you back to game pin screen

[2022-05-06 19:38] TheDItto commented on #77
yes and i got suspended but it is fine I got alts

[2022-05-06 21:25] 123345666777777777777777777777777 opened #80 "Collab and multitool."
I have a good idea I saw that Zastix is working on a multitool maybe u guys can collab and make all of this into one multitool.

Just a suggestion
@123345666777777777777777777777777

[2022-05-06 21:34] TheVillainCoder opened #82 "Gold Hacks"
What happened to the Gold Quest hacks?

_Originally posted by @TheDItto in https://github.com/Hankypoo7/Blooket-hacks-Hankypoo7-/discussions/50#discussioncomment-2703085_

[2022-05-06 21:36] TheVillainCoder commented on #77
@TheDItto hack on your alts instead :)

[2022-05-07 03:21] Hankypoo7 commented on #82
They were getting people banned, so I took them down untill I can fix them because people were getting banned

[2022-05-07 20:00] Tech219 opened #85 "Schoolcheats ip loggers"
Recently someone was able to make the code avaible to see or "Decode obfuscated JavaScript" which is what the code is I believe, and it has ip loggers, and a bunch of people have seen this and known about it now. What scripts are associated with schoolcheats?

[2022-05-07 22:22] TheVillainCoder commented on #85
@Tech219 Hello! This is something I have heard about but not confirmed. Is there a screenshot/proof you could send of this?

[2022-05-07 22:23] #77 closed

[2022-05-09 00:46] 123345666777777777777777777777777 opened #86 "Yt Waymore"
@Snowflake-Coder-H2o @byronbytes @notzastix @isthatyourfaceoryouassicanttell @colbymcdaniel @TheVillainCoder @Hankypoo7.I got Waylon to get u on Yt.Your hacks are officially on yt

[2022-05-09 00:48] 123345666777777777777777777777777 commented on #86
https://www.youtube.com/watch?v=tyaeQ9TGiQA
The link

Woohoo told u I would do it

[2022-05-09 00:48] 123345666777777777777777777777777 commented on #86
Good Job

[2022-05-09 00:48] 123345666777777777777777777777777 commented on #86
Can u make me collab again pls

[2022-05-10 19:03] isthatyourfaceoryouassicanttell commented on #85
what happened to hank?...

[2022-05-10 19:05] VillainsRule4000 commented on #85
@isthatyourfaceoryouassicanttell NO RICKROLLS! Also, @Hankypoo7 is less active (but I am here most of the day).

[2022-05-10 19:12] Hankypoo7 commented on #85
im here

[2022-05-10 19:34] VillainsRule4000 commented on #85
@Tech219 I don't exactly know, looking into it. Spam Boxes/Add Tokens has the Gliz credit. I don't know about others. There are apps that prevent your IP from being logged.

[2022-05-10 23:10] Hankypoo7 commented on #85
@VillainsRule4000 should I be concerned about this?

[2022-05-10 23:33] VillainsRule4000 commented on #85
@Hankypoo7 IDK. Oorwlly (Blooktuber) and a few other Blooket figures have said the same thing. Might be something to look into as hacks with IP loggers are BAD NEWS.

[2022-05-11 02:43] Hankypoo7 commented on #85
yeah

[2022-05-11 21:23] VillainsRule4000 commented on #4
what on-

[2022-05-11 22:16] Tech219 commented on #85
yeah defo like ip loggers you can get ddosed just in a few clicks sheesh, you can get your address taken too soo 😬

[2022-05-12 12:05] BilbertRules opened #96 "Bots Not Flooding"
whenever i execute the bot hack it doesn't say anything and just goes blank.

[2022-05-13 12:38] Snowflake-Coder-H2o commented on #85
@Tech219 We will look into this

[2022-05-13 12:41] Snowflake-Coder-H2o opened #99 "My website."
If anyone would like to help me with my website and putting the hacks on the page. Let me know im looking for someone to help me. Becuase its gettting hard to do it on my own

[2022-05-13 12:41] Snowflake-Coder-H2o commented on #99
@byronbytes @notzastix @colbymcdaniel @isthatyourfaceoryouassicanttell @VillainsRule4000

[2022-05-13 12:48] byronbytes commented on #99
I know how to use google sites very well, if you check out litetools.net it's used with google sites.
send an invite request to matty@litetools.net and i'll help

[2022-05-13 13:46] Snowflake-Coder-H2o commented on #99
@byronbytes Wow. thats good.

[2022-05-16 14:02] isthatyourfaceoryouassicanttell commented on #85
ok i got scared somebody else  took over

[2022-05-16 19:14] Tech219 commented on #85
Thinking about recoding these schoolcheats hacks since well. ip grabbers are no good. Idk though , I'll work on it and I'll provide details later

[2022-05-16 19:58] Dogwaterzx opened #103 "suggestion"
Maybe you could have hacks with more different languages, like css, html, or python.  Like a more variety.

[2022-05-16 19:59] VillainsRule4000 commented on #85
@Tech219 If you would like to, I could work with you to make the hacks known.

[2022-05-16 20:14] Tech219 commented on #85
@VillainsRule4000 Alright sure.. go to my profile i have a schoolcheats respitory there, ill inv you

[2022-05-16 20:16] Tech219 commented on #85
https://github.com/Tech219/SCHOOLCHEATSHACKSFIX/invitations

[2022-05-16 20:16] VillainsRule4000 commented on #85
@Tech219 This one? https://github.com/Tech219/SCHOOLCHEATSHACKSFIX

[2022-05-16 20:16] Tech219 commented on #85
yeah

[2022-05-16 20:20] Tech219 commented on #85
@VillainsRule4000 yeah its that one, do u have discord? yeah the 0001 is spaces but dont use them

[2022-05-16 21:15] VillainsRule4000 commented on #85
@Tech219 no

[2022-05-17 12:28] Hankypoo7 opened #105 "VillainsRule"
lol jude invited me to be a collaborator.should I delete all the hacks. Even though he might repost them again?

[2022-05-17 12:33] Snowflake-Coder-H2o commented on #105
@Hankypoo7 No dont

[2022-05-17 12:55] VillainsRule4000 commented on #105
@Hankypoo7 They're Schoolcheats, I would.

[2022-05-17 12:55] VillainsRule4000 commented on #105
At least unmute me

[2022-05-18 11:19] Tech219 commented on #41
This problem seems to happen currently for me. I don't know why??

[2022-05-18 11:20] Tech219 commented on #41
That's why I opened it back up . @VillainsRule4000 Can you test the script for me really quick? Tell me details in console

[2022-05-18 11:46] VillainsRule4000 commented on #41
@Tech219 I actually care about my alts being banned...but I'll use a VPN and a guest session being hosted from an alt (that's how to test a hack BTW).

[2022-05-18 11:53] VillainsRule4000 commented on #41
@Brayden9292 @Tech219 It was the second line of code; the hack is fixed now!

[2022-05-18 11:53] #41 closed

[2022-05-18 12:00] VillainsRule4000 commented on #34
@Hankypoo7 seriously?

[2022-05-18 12:49] VillainsRule4000 commented on #46
This is impossible as another person would have to use the hack.

[2022-05-18 12:50] VillainsRule4000 opened #110 "This is the ISSUES PAGE..."
Please stop posting ideas and chatting here. This is only for issues. Just use the discussions!
https://github.com/Hankypoo7/Blooket-hacks-Hankypoo7-/discussions

[2022-05-18 12:50] #110 closed

[2022-05-18 15:27] Hankypoo7 commented on #105
what?

[2022-05-18 15:31] VillainsRule4000 commented on #105
@Hankypoo7 Jude stopped me from posting issues and discussions.

[2022-05-18 19:00] Hankypoo7 commented on #105
me too

[2022-05-18 19:09] VillainsRule4000 commented on #105
@Hankypoo7 YOU'RE NO LONGER A COLLAB?

[2022-05-18 19:10] VillainsRule4000 commented on #105
@Tech219 We need to talk on Discord later, I'm a little busy rn.

[2022-05-18 20:12] 123345666777777777777777777777777 commented on #105
@VillainsRule4000 can u give me ur discord?

[2022-05-18 20:27] VillainsRule4000 commented on #105
@123345666777777777777777777777777 I don't have one, why?

[2022-05-18 20:33] VillainsRule4000 commented on #105
@Hankypoo7 I still want you to respond, just want to keep this to us.

[2022-05-18 21:48] VillainsRule4000 commented on #85
# IP LOGGERS
Every website you visit logs your IP address for some reason. Some common sites:
- weather.com - logs your IP to view your location to give you your weather
- Google - logs your IP to give you maps to places
- Blax/Betastar/Blacket - logs your IP to prevent alts.

None of these have malicious intent. Your IP isn't actually private.
Schoolcheats likely doesn't have malicious intent, ot

[2022-05-19 01:18] Hankypoo7 commented on #105
wait what

[2022-05-19 10:56] VillainsRule4000 commented on #105
I'm sorry you got demoted. I know own this one, at least WE give credit to Schoolcheats.

[2022-05-19 12:34] Snowflake-Coder-H2o commented on #105
@VillainsRule4000 we GIve credits where its due. If Its ours then we dont give credits if its theirs we give credits.

[2022-05-19 16:48] GGithub9 opened #112 "What"
Take the XP hack back to global the dude mess it up

[2022-05-19 17:26] Hankypoo7 commented on #112
ok

[2022-05-19 18:30] VillainsRule4000 commented on #112
I renamed it to something that reflects the hack more, I'll fix it.

[2022-05-19 18:30] #112 closed

[2022-05-19 18:31] #85 closed

[2022-05-21 11:39] VillainsRule4000 commented on #105
@Snowflake-Coder-H2o I know.

[2022-05-21 11:39] VillainsRule4000 commented on #105
@Hankypoo7 lol-jude is now pretending to be Glixzzy. This is INSANE.

[2022-05-21 11:39] #105 closed

[2022-05-21 17:19] Snowflake-Coder-H2o commented on #105
Wait what @VillainsRule4000 ?

[2022-05-21 17:27] VillainsRule4000 commented on #105
@Snowflake-Coder-H2o @lol-jude renamed himself and is now @glixxzzy. Imagine impersonating lol...

[2022-05-21 18:21] Snowflake-Coder-H2o commented on #105
@VillainsRule4000 LMAO. I can try and talk to him but I doubt im going to be able to.

[2022-05-22 01:40] Hankypoo7 commented on #105
yeah

[2022-06-06 23:11] qaiik opened #121 "Minify instead of obfuscate"

[2022-06-06 23:13] qaiik commented on #121
In my code, it seems you have obfuscated it. I’m not sure if this has an exact reason, but minification would certainly shorten the code, and make bookmarking easier. If you need any help doing this, you can ask me.

[2022-06-07 00:26] VillainsRule4000 commented on #121
@qaiik Hello! I'm a contributor, and my main task is to answer these issues. We obfuscate to protect code from any copycats. I think that you should add some credit (like Glixzzy did), to make the obfuscation worth it.

[2022-06-07 02:42] qaiik commented on #121
That is understandable. Code can't be edited really well with obfuscation. I just have one warning about my scripts, and that is that you need to run mine on the join or nickname page, not in a game.
There is a fix however, and it is better.
You can run it in a game, and then use this script.

javascript:function%20get%28%29%7Breturn%20Object.values%28document.querySelector%28%22%23app%20%3E%20div

[2022-06-07 02:48] qaiik commented on #121
Also, I have decided that I will be keeping my code unobfuscated (in my repo, you can do whatever in yours), but adding a script that does credit, obfuscating that, and putting it at the bottom.

The reason I am not obfuscating the whole thing is just because it was very hard for me to get into blooket hacking, because all the code was obfuscated, and I had no idea how things were done. Believe it

[2022-06-07 10:15] VillainsRule4000 commented on #121
@qaiik The reason why Glixzzy hides the credit in the middle is so that people can't just remove that one line.

[2022-06-07 21:48] v8f commented on #121
Interesting

[2022-06-07 22:00] v8f commented on #121
Working on minifying the code since it needs to be shortened. If you have a low end device or it lags when you copy , this will make less lag or other problem.

[2022-06-08 02:37] #121 closed

[2022-06-09 00:48] qaiik commented on #121
By the way, you can remove the bottom credit if you want.

[2022-06-09 00:48] qaiik commented on #121
On the deceptive dino hacks

[2022-06-09 09:44] VillainsRule4000 commented on #121
@qaiik We wouldn't dare...

[2022-06-09 20:55] Instinct-YT opened #127 "Tokens/XP hack not working"
I dont know where to do it. I have followed each step and it wont give me tokens.
Can someone tell me where to do it?

[2022-06-09 22:11] VillainsRule4000 commented on #127
@Instinct-YT What page are you applying the script on?

[2022-06-10 20:33] HahaBozoooo opened #128 "1"

[2022-06-10 20:33] HahaBozoooo commented on #128
1

[2022-06-10 20:33] #128 closed

[2022-06-10 21:53] glixxzzy commented on #127
The most likely thing is you have hit the daily cap of tokens.

[2022-06-10 22:55] VillainsRule4000 commented on #127
@glixxzzy Hi! Nice to see lol-jude here, faker...

[2022-06-11 01:40] Snowflake-Coder-H2o commented on #128
what happened here @VillainsRule4000

[2022-06-11 08:22] rxzyx opened #129 "You didn’t make the Deceptive Dinos Hack. I made it."
Hello! I noticed that the hack for Deceptive Dinos is actually my hack… Can you please give me credit? Thank you for your time

[2022-06-11 08:22] rxzyx commented on #129
Just for evidence, go on my repository and you will notice that the deceptive dino hacks are the same text and they are the same file size. And I made mine 19 days ago, while you made yours 1 day ago.

[2022-06-11 08:23] rxzyx commented on #129
GetFossils is my Fossil Hack and FossilMultiplier is my Fossil Multiplier.

[2022-06-11 08:23] rxzyx commented on #129
As the evidence was staten, if you do not comply with giving me credit on both your README.md and for the DeceptiveDinos README.md then I will have no choice but to issue a DMCA Takedown.

[2022-06-11 10:31] VillainsRule4000 commented on #128
@Snowflake-Coder-H2o this user was trolling, so I edited his stuff...

[2022-06-11 10:32] VillainsRule4000 commented on #129
@rxzyx Hello! We'll look into the source today and I'll be back in five minutes with a result.

[2022-06-11 10:35] VillainsRule4000 commented on #129
@rxzyx I looked, and the Pull Request was opened by @ghost with no credit given. I believe you, so I will give full credit. Thank you for letting us know!

[2022-06-11 10:37] rxzyx commented on #129
Thank you for your time. I consider the issue on this repository closed.

[2022-06-11 10:37] #129 closed

[2022-06-11 10:38] VillainsRule4000 commented on #129
@rxzyx BTW, Your Blook Rush hacks might have been copied by @glixxzzy, who is a fake gliz copy.

[2022-06-11 10:40] VillainsRule4000 commented on #129
@rxzyx Also, @glixxzzy aka fake gliz 💀 closed your issue...

[2022-06-11 10:40] rxzyx commented on #129
Nope I just made my own Blook Rush hack. But he also took my deceptive-dinos hack and closed my issue saying that it was stolen. (also I had no idea he was a fake lol, so many of them)

[2022-06-11 10:42] VillainsRule4000 commented on #129
@rxzyx I can't talk on his repo, bc he muted me for saying he was a faker. He's actually @lol-jude, who, to escape yelling that he copied from Schoolcheats, made himself look like gliz. Gliz actually has one x, but many do not know this.

[2022-06-11 10:43] rxzyx commented on #129
Oh really? I remember that lol-jude guy ahahaha. Ik that gliz had one x but I thought his account was taken down or something...

[2022-06-11 10:45] rxzyx commented on #129
Funny how the fake gliz had a 'not planned' tag. I'll wait one day and if he does not respond to me on Discord or GitHub then I will DMCA Takedown his repo.

[2022-06-11 10:48] VillainsRule4000 commented on #129
@rxzyx That would be nice, some actual investigation. I reported him from like 10 different Github accounts. Hopefully a DCMA will act. lol-jude as gliz wouldn't DARE say that someone else made a hack, boom, exposed. Then again, lol-jude tried to DCMA someone for "copying his hacks" which were taken off Schoolcheats! (see @GlixzzyBlooketHacks for this laugh, another fake gliz)

[2022-06-11 10:52] rxzyx commented on #129
Yeah ik lol-jude, I saw issues saying that he stole the hack. And it was really blatant that he did, I don't see why it's so hard to say that it was made by someone else...

[2022-06-11 10:53] VillainsRule4000 commented on #129
@rxzyx Because glixzzy can code, and this faker can't.

[2022-06-11 10:56] rxzyx commented on #129
I used to (still do but not as much) make hacks for android games, there was this really popular one I made and man It grew quick, and then similar thing loads of skids came but I dealt with them, I just noticed them and asked them coding questions not possible to find on Google. But this person 'jude' just doesn't want to answer or reply at all...

[2022-06-11 12:15] VillainsRule4000 commented on #129
@rxzyx That's a clever solution, coding questions NOT on Google.

[2022-06-11 13:10] Snowflake-Coder-H2o commented on #127
@VillainsRule4000 is this accually gliz?

[2022-06-11 13:18] VillainsRule4000 commented on #127
@Snowflake-Coder-H2o No, faker gliz.

[2022-06-11 13:20] Snowflake-Coder-H2o commented on #128
O Ok

[2022-06-11 18:56] rxzyx commented on #129
Ye (fyi u forgot to give credit for crypto hack lol)

[2022-06-11 19:15] rxzyx commented on #129
Lol I gave him a chance and then I got banned on his Discord, then I trolled and tricked him to giving image perms and got banned again LOLOLOL

[2022-06-11 19:25] VillainsRule4000 commented on #129
I am working on a new README, credit will be there.

[2022-06-11 19:30] rxzyx commented on #129
Alright. And apparently I'm unable to do a DMCA Takedown as you are allowed to distribute other peoples code as long as you also they have an MIT License and so do you.

[2022-06-11 20:37] VillainsRule4000 commented on #127
Closed due to inactive member.

[2022-06-11 20:37] #127 closed

[2022-06-11 20:49] VillainsRule4000 commented on #129
@rxzyx Sad that @glixxzzy is too much of an idiot to even give credit.

[2022-06-14 23:58] FireyKitKat opened #131 "How does the SpoofBlooks work?"
I tried it but its not working

https://user-images.githubusercontent.com/106935277/173708661-94ae4a62-a767-4327-abf7-4cfabccc9c55.mp4

[2022-06-15 00:06] VillainsRule4000 commented on #131
Hello, @FireyKitKat!
Welcome to our Blooket Hacks!
I have identified and fixed the issue.
In the future, click a Blook to activate the cheat.

If this cheat continues to have issues, please let us know.
Thanks,
VillainsRule

[2022-06-15 00:06] #131 closed

[2022-06-15 00:12] FireyKitKat commented on #131
Its still not working

https://user-images.githubusercontent.com/106935277/173709938-2aab4618-a94a-4ef5-990a-259f3b727bbb.mp4

[2022-06-15 00:17] FireyKitKat opened #132 "SpoofBlooks still not working"
i tried it again and no result...

https://user-images.githubusercontent.com/106935277/173710221-b3f2e04a-14f9-4b34-8dc1-1ec7cca78cc8.mp4

[2022-06-15 00:24] VillainsRule4000 commented on #132
This appears to be a glitched hack. I will work on the issue currently.

[2022-06-15 00:26] FireyKitKat commented on #132
ok

[2022-06-15 00:27] #132 closed

[2022-06-15 00:37] RatioBozoIDIe commented on #132
OH NOO I HOPE THE HACK GETS FIXED SOON!!!!!!

[2022-06-15 17:15] RatioBozoIDIe opened #134 "1m deleting my account"
sad

[2022-06-17 00:35] VillainsRule4000 commented on #132
Hello! That would be nice, post any results in the Discussions!

[2022-06-18 03:53] Hankypoo7 opened #140 "NEW DISCORD SERVER https://lunanom.hackergavin.repl.co/service/hvtrs8%2F-dksaopd%2Ccmm-cjalnglq%2F%3B85544547235113852-9%3A7766765017331%3A77"
https://lunanom.hackergavin.repl.co/service/hvtrs8%2F-dksaopd%2Ccmm-cjalnglq%2F%3B85544547235113852-9%3A7766765017331%3A77
join if you like :)

[2022-06-18 23:00] VillainsRule4000 commented on #140
I don't have Discord. Could we use another platform?

[2022-06-18 23:00] VillainsRule4000 commented on #140
I use guilded.gg, which is actually a Discord copy, but has 10x the features...

[2022-06-19 02:16] #140 closed

[2022-06-19 15:30] GooseterV opened #143 "my work"
I'd appreciate if you take down all of my scripts from your own blooket repository. If you're going to have them, at least put them in a fork but i really do not like it whe peope steal my work and post it as their own. If you add a section that specifically states everything in it was made by me, i'd accept it but right now you've only labelled 2 of every single script you stole from me as "mine"

[2022-06-19 15:53] #143 closed

[2022-06-19 15:53] GooseterV commented on #143
thank you for removing it, you don't know how annoying it is when people post other people's work

[2022-06-19 15:53] GooseterV commented on #143
also, if you wanted to check the state of my stuff be sure to read the top of the readme file of my repo

[2022-06-19 16:50] VillainsRule4000 commented on #143
@GooseterV Good to know! Some devs are fine as long as it is credited. We have all credits in the Wiki. This is mostly a hack compilation, really.

[2022-06-19 18:57] VillainsRule4000 opened #145 "Remove collaborator"
@v8f is being toxic. Please remove him as a collaborator. He is violating our Code of Conduct.

I have removed all instances, but I have screenshots if needed.

[2022-06-19 18:57] VillainsRule4000 commented on #145
@Hankypoo7 This is critical...

[2022-06-19 21:54] Hankypoo7 commented on #145
ok

[2022-06-19 21:55] v8f commented on #145
ok then, barely was but ok

[2022-06-19 21:55] Hankypoo7 commented on #145
i removed him what did he do

[2022-06-19 21:55] v8f commented on #145
all i did was just state my opinion on guilded

[2022-06-19 21:55] v8f commented on #145
and said like one thing

[2022-06-19 21:55] Hankypoo7 commented on #145
what did you say

[2022-06-19 21:56] v8f commented on #145
hell

;lmao

[2022-06-19 21:56] v8f commented on #145
apparently thats a bad word
<br>
doubt

[2022-06-19 21:56] Hankypoo7 commented on #145
um

[2022-06-19 21:56] Hankypoo7 commented on #145
@VillainsRule4000 is that all?

[2022-06-19 21:57] v8f commented on #145
curious on why he wanted to use guilded
ive only been barely toxic like a few things and thats it

?

[2022-06-19 21:57] v8f commented on #145
also no im not violating no code of conduct im just trying to state my opinion on stuff and do stuff

:shrug:

[2022-06-19 21:59] v8f commented on #145
theres only a few things on coc.md
* Public or private harassment
* Publishing others' private information, such as a physical or email
  address, without their explicit permission
* Any racist comments or any comments to make people feel bad about themselves
* Other conduct which could reasonably be considered inappropriate in a
  professional setting
  none of that i have done ?

[2022-06-19 22:02] v8f commented on #145
is stating my opinion on guilded considered instnatly breakiing everything you guys have and saying hell breaks everything in the world? no
deal with it
i can say a few words

[2022-06-19 22:35] VillainsRule4000 commented on #145
@v8f "blame your network or whatever else."

[2022-06-20 02:13] Hankypoo7 commented on #145
yeah villancoder if thats all he said thats not really bad or anything

[2022-06-20 02:15] Hankypoo7 commented on #145
whats going on

[2022-06-20 02:17] Hankypoo7 commented on #145
so what should i do,
i took away v8fs perms for now

[2022-06-20 19:09] Hankypoo7 commented on #145
ok

[2022-06-22 16:37] 123345666777777777777777777777777 opened #153 "Gliz"
Hey hankypoo according to the description in Gliz's hacks you helped him as a collaborater.Is this true?

[2022-06-22 18:30] VillainsRule4000 commented on #153
Not an issue. Additionally, @glixxzzy is NOT the real gliz, they are just a faker.

[2022-06-22 18:30] #153 closed

[2022-06-24 03:13] BlooketisLit opened #154 "Hi, how can we stop lol-jude"
I want to help with the fake gliz

[2022-06-24 10:27] cursxdforlife commented on #154
Hi I have been working on this for a long time I have all my evidence the problem is whenever i posted my proof he would delete my comments so i would reccommed contacting schoolcheats.net for support to take him down i will send any images

[2022-06-24 11:03] VillainsRule4000 commented on #154
@cursxdforlife @BlooketisLit I have new things that suggest that @glixxzzy is the real gliz. Let's not open an issue about an option that doesn't concern this repository.

[2022-07-05 06:08] cursxdforlife opened #158 "Issue on add tokens"
<img width="958" alt="image" src="https://user-images.githubusercontent.com/98692335/177260734-ec3faa98-d56a-4c13-b578-4ad52368d52e.png">
spelling error

[2022-07-05 06:22] cursxdforlife commented on #158
i have since fixed this issue thank you!

[2022-07-05 06:22] #158 closed

[2022-07-15 23:42] leowo0k opened #160 "Spam Open boxes does not work"

[2022-07-16 00:30] VillainsRule4000 commented on #160
This repository is not maintained.

[2022-08-27 01:36] 123345666777777777777777777777777 opened #162 "What happened?"
Ummm

[2022-08-27 17:02] 123345666777777777777777777777777 commented on #162
Hello?

[2022-08-27 22:28] VillainsRule4000 commented on #162
Read the README.md file.

[2022-08-27 22:28] #162 closed

[2022-08-28 17:49] 123345666777777777777777777777777 opened #163 "Wdym none of our collars can make hacks"

[2022-08-28 17:49] 123345666777777777777777777777777 commented on #163
Collab s

[2022-08-29 03:06] VillainsRule4000 commented on #163
Please name one hack maker among our contributors. That can code and doesn't skid off gliz.

[2022-08-29 12:48] ForkAndSpoonIt opened #164 "Yo"
I remember you before you made this repo!!

[2022-08-29 14:12] 123345666777777777777777777777777 commented on #163
I thought snowflakecoder-h20 and Hankypoo7 could code

[2022-08-31 00:48] VillainsRule4000 commented on #163
Not that I know of; all of these are from Schoolcheats.

[2022-08-31 02:18] 123345666777777777777777777777777 commented on #163
Oh

[2022-08-31 02:18] 123345666777777777777777777777777 commented on #163
So you deleted it all?

[2022-08-31 02:19] 123345666777777777777777777777777 commented on #163
Are you the owner of this

[2022-08-31 03:27] VillainsRule4000 commented on #163
Yes, I removed all the files in 74fad684747b0e204a3e7d83ff7627015345ad15, because all of these are from Schoolcheats.

As for ownership, I can see what little you know of Github. The owner is the second part of the URL, 'Hankypoo7' in this case. So, @Hankypoo7 is the owner.

[2022-09-07 01:18] Hankypoo7 commented on #164
ye wats up bro

[2022-09-07 12:46] Hankypoo7 commented on #160
ok ill work on a fix

[2022-09-07 12:46] #164 closed

[2022-09-07 20:11] VillainsRule4000 opened #168 "[Github] Formatting Error"
According to file/directory name guidelines...
1. No directory or file name should contain spaces, as this confuses the system.
      - Files names may be formatted such as `My-File.txt`, `MyFile.txt`, or `myFile.txt`.
      - These are not the only options.
 2. Files should have a name ending.
       - For example, `myFile` is not a valid name as it does not have an ending. For plain text, `.txt`

[2022-09-08 01:18] v8f commented on #168
they arent being _"skids"_ off of _gliz_, they _credited him_ and they also _credited other people who had helped with this_. also.. this project actually have multiple people that were helping here that could kind of code including me? look.. we arent trying to steal anything from you :skull: i dont get why ur still babbling about this, just mind your own business and go away and never come back

[2022-09-08 13:21] #160 closed

[2022-09-10 02:30] VillainsRule4000 opened #174 "test issue"
This issue was made to test Issue Templates.

[2022-09-10 02:31] #174 closed

[2022-09-10 02:31] #168 closed

[2022-09-10 02:32] VillainsRule4000 commented on #168
Fixed in commit 86e902201ebaf1f528ce810ddd0ceeacbcca1d4b.

[2022-09-11 23:48] ghost opened #175 "[SCRIPT DOWN]"
**BASIC INFO**
Gamemode: Global
Script Name: AddTokensXP

**TROUBLESHOOTING**
Is this the first script you used on the page? (yes)

**DEVICE INFO**
Browser (Safari):
Device (Ipad):

**EXTRA**
I think you could make bookmark codes

[2022-09-11 23:58] Hankypoo7 commented on #175
thank you, we will work on a fix

[2022-09-12 20:20] 123345666777777777777777777777777 commented on #175
Use this to convert https://caiorss.github.io/bookmarklet-maker/

[2022-09-16 13:44] vantr-o opened #177 "expiration"
I've been looking into this API for a while, the hacks coming from school cheats expire after 24 hrs. Might want to change those.

[2022-09-16 13:53] VillainsRule4000 commented on #177
This is correct. Honestly, I think I'm the only collab who can properly code. My repo [@VillainsRule4000/BlooketMaster](https://github.com/VillainsRule4000/BlooketMaster/tree/main/hacks) should have working scripts.

[2022-09-16 13:53] VillainsRule4000 commented on #175
Schoolcheats expires after 24hrs. Stop using SC.

[2022-09-16 16:53] vantr-o commented on #177
I can add scripts without footers, no obscuration, and ones that work if you'd like.

[2022-09-16 16:55] VillainsRule4000 commented on #177
This repo is kinda dead :skull:

[2022-09-16 17:02] vantr-o commented on #177
yeah, when gliz returned it died off.

[2022-09-18 00:26] #177 closed

[2022-09-20 00:36] NoDripGmoney opened #180 "Can you make ixl hacks to get all answers correct?"
**EXTRA**
Type anything additional below!
I thought of this idea becuase ixl is annoying and i have to do it for school.
let me know if you already have a script
discord:GmoneyPlayz2020#3317

[2022-09-20 00:59] VillainsRule4000 commented on #180
This isn't an issue & it is off topic.

[2022-09-20 23:53] #180 closed

[2022-10-01 03:49] NoDripGmoney opened #185 "[NOT AN ISSUE]I know this is kind of irrelivent, but is it posisible to make a ixl hack to gets all of the answers correct in javascript"
just wanted to see

[2022-10-03 18:25] cursxdforlife commented on #185
We'll see what we can do

[2022-10-03 18:25] #185 closed

[2022-10-03 18:49] VillainsRule4000 commented on #185
This is BLOOKET, not IXL.